/*---Log in adjust--*/

body.login {
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.login form {
    background: #05080e !important;
    border-radius:5px;
    opacity: 0.92;
}

body.login div#login form#loginform input#user_login,
body.login div#login form#loginform input#user_pass {

	 border-radius:10px;
}

body.login div#login form#loginform p.submit input#wp-submit {
	background-color: #ca0f67 ;
}
body.login div#login form#registerform p.submit input#wp-submit {
	background-color: #ca0f67 ;
}

body.login div#login form#loginform p.submit input#wp-submit ::hover {
	background-color: transparent;
	border:solid 2px #ca0f67 ;
}

.login #login_error, .login .message
{
	    border-left:none !important;
	    border-right: 4px solid #ca0f67;
}

body.login div#login p#backtoblog a {
	 text-decoration: none;
    color: #555d66;
    width: 100%;
    padding: 8px;
     border-radius:8px;
    background-color: #e9eaed;

}

body.login div #login h1 a, body .login div #login h1  {

            padding-bottom: 5px;
    		position: absolute !important;
    		left: 50px;
    		top:40px;
    		background-size: 200px;
            width:200px;
            height:200px
}


    @media(max-width: 768px)
    {
    	body.login div#login h1 a,body.login div#login h1  {

	 	background-image: url(<?php echo get_stylesheet_directory_uri(); ?>/assets/img/logo.png);
            padding-bottom: 5px;
    		position: relative;
    		background-size: 80px;
            width:80px;
            height:80px
            left: 0px;
    		top:0px;
		}


  		 .login form {
   			 background: #05080e !important;
    		border-radius:5px;
    		opacity: 0.92;
        }

        #login {
    
        margin-top: 110px !important;
        }
    }


