/*
Theme Name: Vstarvibe
Theme URI: https://vstarvibe.com 
Description: Vstarvibe material theme 
Version: 1
Author: vacvi
Author URI: https://vacvi.com
*/




/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# General
	## Generic styles
	## Buttons and links
# Navigation
# Forms
# Pagination and navbar
# Typography
# Cards styling
# Tables
# Sections Styling
    ## About Section
    ## Portfolio Section
    ## Contact Section
    ## Team Section
    ## Subscribe Section
# Footer
# Blog
	## Content
	## Sidebar
	## Attachment Page
# Woocommerce Integration
	## My Account Page
	## Generic
	## YITH Magnifier
# Responsive
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Generic Styles
--------------------------------------------------------------*/
body {
	color: #3c4858;
	background-color: rgb(232, 235, 245);
}

blockquote p {
	font-style: italic;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
	font-family: "Roboto","Helvetica","Arial",sans-serif;
	font-weight: 300;
	line-height: 1.5em;
}

a {
	color: #9c27b0;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

a:hover,
a:focus {
	color: #89229b;
	text-decoration: none;
}

embed,
iframe,
img,
object,
video,
button,
input,
select,
textarea,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
}

ul {
	margin-bottom: 30px;
	line-height: 1.5em;
}

.animation-transition-fast,
.navbar,
.panel .panel-heading i,
.section-cards .card {
	-webkit-transition: all 150ms ease 0;
	transition: all 150ms ease 0;
}

legend {
	border-bottom: 0;
}


/*--------------------------------------------------------------
## Buttons and links
--------------------------------------------------------------*/
* {
	-webkit-tap-highlight-color: rgba(255,255,255,0);
	-webkit-tap-highlight-color: transparent;
}

:focus {
	outline: 0;
}

button,
input,
select,
textarea {
	padding: 7px;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

a:focus,
a:active,
button:active,
button:focus,
button:hover,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
	outline: 0 !important;
}

input[type="submit"],
.btn {
	position: relative;
	margin: 10px 1px;
	padding: 12px 30px;
	border: none;
	border-radius: 3px;
	font-size: 12px;
	font-weight: 400;
	white-space: normal;
	letter-spacing: 0;
	text-transform: uppercase;
	-webkit-transition: background-color 0.2s cubic-bezier(0.4,0,0.2,1),-webkit-box-shadow 0.2s cubic-bezier(0.4,0,1,1);
	transition: background-color 0.2s cubic-bezier(0.4,0,0.2,1),-webkit-box-shadow 0.2s cubic-bezier(0.4,0,1,1);
	transition: box-shadow 0.2s cubic-bezier(0.4,0,1,1),background-color 0.2s cubic-bezier(0.4,0,0.2,1);
	transition: box-shadow 0.2s cubic-bezier(0.4,0,1,1),background-color 0.2s cubic-bezier(0.4,0,0.2,1),-webkit-box-shadow 0.2s cubic-bezier(0.4,0,1,1);

	will-change: box-shadow,transform;
}

input[type="number"] {
	padding: 0;
}

input[type="submit"]::-moz-focus-inner,
.btn::-moz-focus-inner {
	border: 0;
}

input[type="submit"],
.btn,
.btn.btn-default {
	-webkit-box-shadow: 0 2px 2px 0 rgba(153,153,153,0.14),0 3px 1px -2px rgba(153,153,153,0.2),0 1px 5px 0 rgba(153,153,153,0.12);
	box-shadow: 0 2px 2px 0 rgba(153,153,153,0.14),0 3px 1px -2px rgba(153,153,153,0.2),0 1px 5px 0 rgba(153,153,153,0.12);
}

input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active,
.btn,
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus,
.btn:active:hover,
.btn.active:focus,
.btn.active:hover,
.open > .btn.dropdown-toggle,
.open > .btn.dropdown-toggle:focus,
.open > .btn.dropdown-toggle:hover,
.btn.btn-default,
.btn.btn-default:hover,
.btn.btn-default:focus,
.btn.btn-default:active,
.btn.btn-default.active,
.btn.btn-default:active:focus,
.btn.btn-default:active:hover,
.btn.btn-default.active:focus,
.btn.btn-default.active:hover,
.open > .btn.btn-default.dropdown-toggle,
.open > .btn.btn-default.dropdown-toggle:focus,
.open > .btn.btn-default.dropdown-toggle:hover {
	color: #fff;
	background-color: #999;
}

.btn > a:hover,
.btn > a:focus,
.btn > a:active,
.btn:hover > a,
.btn:focus > a,
.btn:active > a {
	color: #fff;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active,
.btn:focus,
.btn:active,
.btn:hover,
.btn.btn-default:focus,
.btn.btn-default:active,
.btn.btn-default:hover {
	-webkit-box-shadow: 0 14px 26px -12px rgba(153,153,153,0.42),0 4px 23px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba(153,153,153,0.2);
	box-shadow: 0 14px 26px -12px rgba(153,153,153,0.42),0 4px 23px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba(153,153,153,0.2);
}

.btn.disabled,
.btn.disabled:hover,
.btn.disabled:focus,
.btn.disabled.focus,
.btn.disabled:active,
.btn.disabled.active,
.btn:disabled,
.btn:disabled:hover,
.btn:disabled:focus,
.btn:disabled.focus,
.btn:disabled:active,
.btn:disabled.active,
.btn[disabled],
.btn[disabled]:hover,
.btn[disabled]:focus,
.btn[disabled].focus,
.btn[disabled]:active,
.btn[disabled].active,
fieldset[disabled] .btn,
fieldset[disabled] .btn:hover,
fieldset[disabled] .btn:focus,
fieldset[disabled] .btn.focus,
fieldset[disabled] .btn:active,
fieldset[disabled] .btn.active,
.btn.btn-default.disabled,
.btn.btn-default.disabled:hover,
.btn.btn-default.disabled:focus,
.btn.btn-default.disabled.focus,
.btn.btn-default.disabled:active,
.btn.btn-default.disabled.active,
.btn.btn-default:disabled,
.btn.btn-default:disabled:hover,
.btn.btn-default:disabled:focus,
.btn.btn-default:disabled.focus,
.btn.btn-default:disabled:active,
.btn.btn-default:disabled.active,
.btn.btn-default[disabled],
.btn.btn-default[disabled]:hover,
.btn.btn-default[disabled]:focus,
.btn.btn-default[disabled].focus,
.btn.btn-default[disabled]:active,
.btn.btn-default[disabled].active,
fieldset[disabled] .btn.btn-default,
fieldset[disabled] .btn.btn-default:hover,
fieldset[disabled] .btn.btn-default:focus,
fieldset[disabled] .btn.btn-default.focus,
fieldset[disabled] .btn.btn-default:active,
fieldset[disabled] .btn.btn-default.active {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn.btn-simple,
.btn.btn-default.btn-simple {
	color: #999;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn.btn-simple:hover,
.btn.btn-simple:focus,
.btn.btn-simple:active,
.btn.btn-default.btn-simple:hover,
.btn.btn-default.btn-simple:focus,
.btn.btn-default.btn-simple:active {
	color: #999;
	background-color: transparent;
}

input[type="submit"],
.btn.btn-primary {
	-webkit-box-shadow: 0 2px 2px 0 rgba(156,39,176,0.14),0 3px 1px -2px rgba(156,39,176,0.2),0 1px 5px 0 rgba(156,39,176,0.12);
	box-shadow: 0 2px 2px 0 rgba(156,39,176,0.14),0 3px 1px -2px rgba(156,39,176,0.2),0 1px 5px 0 rgba(156,39,176,0.12);
}

input[type="submit"],
input[type="submit"]:hover,
input#searchsubmit,
.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary.active,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.open > .btn.btn-primary.dropdown-toggle,
.open > .btn.btn-primary.dropdown-toggle:focus,
.open > .btn.btn-primary.dropdown-toggle:hover {
	color: #fff;
	background-color: #9c27b0;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary:hover {
	-webkit-box-shadow: 0 14px 26px -12px rgba(156,39,176,0.42),0 4px 23px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba(156,39,176,0.2);
	box-shadow: 0 14px 26px -12px rgba(156,39,176,0.42),0 4px 23px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba(156,39,176,0.2);
}

.btn.btn-primary.disabled,
.btn.btn-primary.disabled:hover,
.btn.btn-primary.disabled:focus,
.btn.btn-primary.disabled.focus,
.btn.btn-primary.disabled:active,
.btn.btn-primary.disabled.active,
.btn.btn-primary:disabled,
.btn.btn-primary:disabled:hover,
.btn.btn-primary:disabled:focus,
.btn.btn-primary:disabled.focus,
.btn.btn-primary:disabled:active,
.btn.btn-primary:disabled.active,
.btn.btn-primary[disabled],
.btn.btn-primary[disabled]:hover,
.btn.btn-primary[disabled]:focus,
.btn.btn-primary[disabled].focus,
.btn.btn-primary[disabled]:active,
.btn.btn-primary[disabled].active,
fieldset[disabled] .btn.btn-primary,
fieldset[disabled] .btn.btn-primary:hover,
fieldset[disabled] .btn.btn-primary:focus,
fieldset[disabled] .btn.btn-primary.focus,
fieldset[disabled] .btn.btn-primary:active,
fieldset[disabled] .btn.btn-primary.active {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn.btn-primary.btn-simple {
	color: #9c27b0;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn.btn-primary.btn-simple:hover,
.btn.btn-primary.btn-simple:focus,
.btn.btn-primary.btn-simple:active {
	color: #9c27b0;
	background-color: transparent;
}

.btn.btn-danger {
	-webkit-box-shadow: 0 2px 2px 0 rgba(244,67,54,0.14),0 3px 1px -2px rgba(244,67,54,0.2),0 1px 5px 0 rgba(244,67,54,0.12);
	box-shadow: 0 2px 2px 0 rgba(244,67,54,0.14),0 3px 1px -2px rgba(244,67,54,0.2),0 1px 5px 0 rgba(244,67,54,0.12);
}

.btn.btn-danger,
.btn.btn-danger:hover,
.btn.btn-danger:focus,
.btn.btn-danger:active,
.btn.btn-danger.active,
.btn.btn-danger:active:focus,
.btn.btn-danger:active:hover,
.btn.btn-danger.active:focus,
.btn.btn-danger.active:hover,
.open > .btn.btn-danger.dropdown-toggle,
.open > .btn.btn-danger.dropdown-toggle:focus,
.open > .btn.btn-danger.dropdown-toggle:hover {
	color: #fff;
	background-color: #f44336;
}

.btn.btn-danger:focus,
.btn.btn-danger:active,
.btn.btn-danger:hover {
	-webkit-box-shadow: 0 14px 26px -12px rgba(244,67,54,0.42),0 4px 23px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba(244,67,54,0.2);
	box-shadow: 0 14px 26px -12px rgba(244,67,54,0.42),0 4px 23px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba(244,67,54,0.2);
}

.btn.btn-danger.disabled,
.btn.btn-danger.disabled:hover,
.btn.btn-danger.disabled:focus,
.btn.btn-danger.disabled.focus,
.btn.btn-danger.disabled:active,
.btn.btn-danger.disabled.active,
.btn.btn-danger:disabled,
.btn.btn-danger:disabled:hover,
.btn.btn-danger:disabled:focus,
.btn.btn-danger:disabled.focus,
.btn.btn-danger:disabled:active,
.btn.btn-danger:disabled.active,
.btn.btn-danger[disabled],
.btn.btn-danger[disabled]:hover,
.btn.btn-danger[disabled]:focus,
.btn.btn-danger[disabled].focus,
.btn.btn-danger[disabled]:active,
.btn.btn-danger[disabled].active,
fieldset[disabled] .btn.btn-danger,
fieldset[disabled] .btn.btn-danger:hover,
fieldset[disabled] .btn.btn-danger:focus,
fieldset[disabled] .btn.btn-danger.focus,
fieldset[disabled] .btn.btn-danger:active,
fieldset[disabled] .btn.btn-danger.active {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn.btn-danger.btn-simple {
	color: #f44336;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn.btn-danger.btn-simple:hover,
.btn.btn-danger.btn-simple:focus,
.btn.btn-danger.btn-simple:active {
	color: #f44336;
	background-color: transparent;
}

.btn.btn-rose {
	-webkit-box-shadow: 0 2px 2px 0 rgba(233,30,99,0.14),0 3px 1px -2px rgba(233,30,99,0.2),0 1px 5px 0 rgba(233,30,99,0.12);
	box-shadow: 0 2px 2px 0 rgba(233,30,99,0.14),0 3px 1px -2px rgba(233,30,99,0.2),0 1px 5px 0 rgba(233,30,99,0.12);
}

.btn.btn-rose,
.btn.btn-rose:hover,
.btn.btn-rose:focus,
.btn.btn-rose:active,
.btn.btn-rose.active,
.btn.btn-rose:active:focus,
.btn.btn-rose:active:hover,
.btn.btn-rose.active:focus,
.btn.btn-rose.active:hover,
.open > .btn.btn-rose.dropdown-toggle,
.open > .btn.btn-rose.dropdown-toggle:focus,
.open > .btn.btn-rose.dropdown-toggle:hover {
	color: #fff;
	background-color: #e91e63;
}

.btn.btn-rose:focus,
.btn.btn-rose:active,
.btn.btn-rose:hover {
	-webkit-box-shadow: 0 14px 26px -12px rgba(233,30,99,0.42),0 4px 23px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba(233,30,99,0.2);
	box-shadow: 0 14px 26px -12px rgba(233,30,99,0.42),0 4px 23px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba(233,30,99,0.2);
}

.btn.btn-rose.disabled,
.btn.btn-rose.disabled:hover,
.btn.btn-rose.disabled:focus,
.btn.btn-rose.disabled.focus,
.btn.btn-rose.disabled:active,
.btn.btn-rose.disabled.active,
.btn.btn-rose:disabled,
.btn.btn-rose:disabled:hover,
.btn.btn-rose:disabled:focus,
.btn.btn-rose:disabled.focus,
.btn.btn-rose:disabled:active,
.btn.btn-rose:disabled.active,
.btn.btn-rose[disabled],
.btn.btn-rose[disabled]:hover,
.btn.btn-rose[disabled]:focus,
.btn.btn-rose[disabled].focus,
.btn.btn-rose[disabled]:active,
.btn.btn-rose[disabled].active,
fieldset[disabled] .btn.btn-rose,
fieldset[disabled] .btn.btn-rose:hover,
fieldset[disabled] .btn.btn-rose:focus,
fieldset[disabled] .btn.btn-rose.focus,
fieldset[disabled] .btn.btn-rose:active,
fieldset[disabled] .btn.btn-rose.active {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn.btn-rose.btn-simple {
	color: #e91e63;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn.btn-rose.btn-simple:hover,
.btn.btn-rose.btn-simple:focus,
.btn.btn-rose.btn-simple:active {
	color: #e91e63;
	background-color: transparent;
}

.btn.btn-white,
.btn.btn-white:focus,
.btn.btn-white:hover {
	color: #999;
	background-color: #fff;
}

.btn.btn-white.btn-simple {
	color: #fff;
	background: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn:focus,
.btn:active,
.btn:active:focus {
	outline: 0;
}

/*.btn.btn-round {
	border-radius: 30px;
}*/

.btn:not(.btn-just-icon):not(.btn-fab) .fa {
	position: relative;
	font-size: 18px;
}

/*.btn.btn-just-icon {
	padding: 12px;
	font-size: 20px;
	line-height: 1em;
}*/

.btn.btn-just-icon i {
	width: 10px;
}

.btn.btn-just-icon.btn-lg {
	padding: 13px 18px;
	font-size: 22px;
}

.btn .fa {
	position: relative;
	top: -1px;
	font-size: 17px;
	vertical-align: middle;
}

.btn.btn-facebook,
.navbar .navbar-nav > li > a.btn.btn-facebook {
	color: #fff;
	background-color: #3b5998;
	-webkit-box-shadow: 0 2px 2px 0 rgba(59, 89, 152, 0.14), 0 3px 1px -2px rgba(59, 89, 152, 0.2), 0 1px 5px 0 rgba(59, 89, 152, 0.12);
	box-shadow: 0 2px 2px 0 rgba(59, 89, 152, 0.14), 0 3px 1px -2px rgba(59, 89, 152, 0.2), 0 1px 5px 0 rgba(59, 89, 152, 0.12);
}
.btn.btn-facebook:focus,
.btn.btn-facebook:active,
.btn.btn-facebook:hover,
.navbar .navbar-nav > li > a.btn.btn-facebook:focus,
.navbar .navbar-nav > li > a.btn.btn-facebook:active,
.navbar .navbar-nav > li > a.btn.btn-facebook:hover {
	color: #fff;
	background-color: #3b5998;
	-webkit-box-shadow: 0 14px 26px -12px rgba(59, 89, 152, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(59, 89, 152, 0.2);
	box-shadow: 0 14px 26px -12px rgba(59, 89, 152, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(59, 89, 152, 0.2);
}
.btn.btn-facebook.btn-simple,
.navbar .navbar-nav > li > a.btn.btn-facebook.btn-simple {
	color: #3b5998;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn.btn-twitter,
.navbar .navbar-nav > li > a.btn.btn-twitter {
	color: #fff;
	background-color: #55acee;
	-webkit-box-shadow: 0 2px 2px 0 rgba(85, 172, 238, 0.14), 0 3px 1px -2px rgba(85, 172, 238, 0.2), 0 1px 5px 0 rgba(85, 172, 238, 0.12);
	box-shadow: 0 2px 2px 0 rgba(85, 172, 238, 0.14), 0 3px 1px -2px rgba(85, 172, 238, 0.2), 0 1px 5px 0 rgba(85, 172, 238, 0.12);
}
.btn.btn-twitter:focus,
.btn.btn-twitter:active,
.btn.btn-twitter:hover,
.navbar .navbar-nav > li > a.btn.btn-twitter:focus,
.navbar .navbar-nav > li > a.btn.btn-twitter:active,
.navbar .navbar-nav > li > a.btn.btn-twitter:hover {
	color: #fff;
	background-color: #55acee;
	-webkit-box-shadow: 0 14px 26px -12px rgba(85, 172, 238, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(85, 172, 238, 0.2);
	box-shadow: 0 14px 26px -12px rgba(85, 172, 238, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(85, 172, 238, 0.2);
}
.btn.btn-twitter.btn-simple,
.navbar .navbar-nav > li > a.btn.btn-twitter.btn-simple {
	color: #55acee;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn.btn-pinterest,
.navbar .navbar-nav > li > a.btn.btn-pinterest {
	color: #fff;
	background-color: #cc2127;
	-webkit-box-shadow: 0 2px 2px 0 rgba(204, 33, 39, 0.14), 0 3px 1px -2px rgba(204, 33, 39, 0.2), 0 1px 5px 0 rgba(204, 33, 39, 0.12);
	box-shadow: 0 2px 2px 0 rgba(204, 33, 39, 0.14), 0 3px 1px -2px rgba(204, 33, 39, 0.2), 0 1px 5px 0 rgba(204, 33, 39, 0.12);
}
.btn.btn-pinterest:focus,
.btn.btn-pinterest:active,
.btn.btn-pinterest:hover,
.navbar .navbar-nav > li > a.btn.btn-pinterest:focus,
.navbar .navbar-nav > li > a.btn.btn-pinterest:active,
.navbar .navbar-nav > li > a.btn.btn-pinterest:hover {
	color: #fff;
	background-color: #cc2127;
	-webkit-box-shadow: 0 14px 26px -12px rgba(204, 33, 39, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(204, 33, 39, 0.2);
	box-shadow: 0 14px 26px -12px rgba(204, 33, 39, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(204, 33, 39, 0.2);
}
.btn.btn-pinterest.btn-simple,
.navbar .navbar-nav > li > a.btn.btn-pinterest.btn-simple {
	color: #cc2127;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn.btn-google,
.navbar .navbar-nav > li > a.btn.btn-google {
	color: #fff;
	background-color: #dd4b39;
	-webkit-box-shadow: 0 2px 2px 0 rgba(221, 75, 57, 0.14), 0 3px 1px -2px rgba(221, 75, 57, 0.2), 0 1px 5px 0 rgba(221, 75, 57, 0.12);
	box-shadow: 0 2px 2px 0 rgba(221, 75, 57, 0.14), 0 3px 1px -2px rgba(221, 75, 57, 0.2), 0 1px 5px 0 rgba(221, 75, 57, 0.12);
}
.btn.btn-google:focus,
.btn.btn-google:active,
.btn.btn-google:hover,
.navbar .navbar-nav > li > a.btn.btn-google:focus,
.navbar .navbar-nav > li > a.btn.btn-google:active,
.navbar .navbar-nav > li > a.btn.btn-google:hover {
	color: #fff;
	background-color: #dd4b39;
	-webkit-box-shadow: 0 14px 26px -12px rgba(221, 75, 57, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(221, 75, 57, 0.2);
	box-shadow: 0 14px 26px -12px rgba(221, 75, 57, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(221, 75, 57, 0.2);
}
.btn.btn-google.btn-simple,
.navbar .navbar-nav > li > a.btn.btn-google.btn-simple {
	color: #dd4b39;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn.btn-linkedin,
.navbar .navbar-nav > li > a.btn.btn-linkedin {
	color: #fff;
	background-color: #0976b4;
	-webkit-box-shadow: 0 2px 2px 0 rgba(9, 118, 180, 0.14), 0 3px 1px -2px rgba(9, 118, 180, 0.2), 0 1px 5px 0 rgba(9, 118, 180, 0.12);
	box-shadow: 0 2px 2px 0 rgba(9, 118, 180, 0.14), 0 3px 1px -2px rgba(9, 118, 180, 0.2), 0 1px 5px 0 rgba(9, 118, 180, 0.12);
}
.btn.btn-linkedin:focus,
.btn.btn-linkedin:active,
.btn.btn-linkedin:hover,
.navbar .navbar-nav > li > a.btn.btn-linkedin:focus,
.navbar .navbar-nav > li > a.btn.btn-linkedin:active,
.navbar .navbar-nav > li > a.btn.btn-linkedin:hover {
	color: #fff;
	background-color: #0976b4;
	-webkit-box-shadow: 0 14px 26px -12px rgba(9, 118, 180, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(9, 118, 180, 0.2);
	box-shadow: 0 14px 26px -12px rgba(9, 118, 180, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(9, 118, 180, 0.2);
}
.btn.btn-linkedin.btn-simple,
.navbar .navbar-nav > li > a.btn.btn-linkedin.btn-simple {
	color: #0976b4;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn.btn-dribbble,
.navbar .navbar-nav > li > a.btn.btn-dribbble {
	color: #fff;
	background-color: #ea4c89;
	-webkit-box-shadow: 0 2px 2px 0 rgba(234, 76, 137, 0.14), 0 3px 1px -2px rgba(234, 76, 137, 0.2), 0 1px 5px 0 rgba(234, 76, 137, 0.12);
	box-shadow: 0 2px 2px 0 rgba(234, 76, 137, 0.14), 0 3px 1px -2px rgba(234, 76, 137, 0.2), 0 1px 5px 0 rgba(234, 76, 137, 0.12);
}
.btn.btn-dribbble:focus,
.btn.btn-dribbble:active,
.btn.btn-dribbble:hover,
.navbar .navbar-nav > li > a.btn.btn-dribbble:focus,
.navbar .navbar-nav > li > a.btn.btn-dribbble:active,
.navbar .navbar-nav > li > a.btn.btn-dribbble:hover {
	color: #fff;
	background-color: #ea4c89;
	-webkit-box-shadow: 0 14px 26px -12px rgba(234, 76, 137, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(234, 76, 137, 0.2);
	box-shadow: 0 14px 26px -12px rgba(234, 76, 137, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(234, 76, 137, 0.2);
}
.btn.btn-dribbble.btn-simple,
.navbar .navbar-nav > li > a.btn.btn-dribbble.btn-simple {
	color: #ea4c89;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn.btn-github,
.navbar .navbar-nav > li > a.btn.btn-github {
	color: #fff;
	background-color: #333;
	-webkit-box-shadow: 0 2px 2px 0 rgba(51, 51, 51, 0.14), 0 3px 1px -2px rgba(51, 51, 51, 0.2), 0 1px 5px 0 rgba(51, 51, 51, 0.12);
	box-shadow: 0 2px 2px 0 rgba(51, 51, 51, 0.14), 0 3px 1px -2px rgba(51, 51, 51, 0.2), 0 1px 5px 0 rgba(51, 51, 51, 0.12);
}
.btn.btn-github:focus,
.btn.btn-github:active,
.btn.btn-github:hover,
.navbar .navbar-nav > li > a.btn.btn-github:focus,
.navbar .navbar-nav > li > a.btn.btn-github:active,
.navbar .navbar-nav > li > a.btn.btn-github:hover {
	color: #fff;
	background-color: #333;
	-webkit-box-shadow: 0 14px 26px -12px rgba(51, 51, 51, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(51, 51, 51, 0.2);
	box-shadow: 0 14px 26px -12px rgba(51, 51, 51, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(51, 51, 51, 0.2);
}
.btn.btn-github.btn-simple,
.navbar .navbar-nav > li > a.btn.btn-github.btn-simple {
	color: #333;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn.btn-youtube,
.navbar .navbar-nav > li > a.btn.btn-youtube {
	color: #fff;
	background-color: #e52d27;
	-webkit-box-shadow: 0 2px 2px 0 rgba(229, 45, 39, 0.14), 0 3px 1px -2px rgba(229, 45, 39, 0.2), 0 1px 5px 0 rgba(229, 45, 39, 0.12);
	box-shadow: 0 2px 2px 0 rgba(229, 45, 39, 0.14), 0 3px 1px -2px rgba(229, 45, 39, 0.2), 0 1px 5px 0 rgba(229, 45, 39, 0.12);
}
.btn.btn-youtube:focus,
.btn.btn-youtube:active,
.btn.btn-youtube:hover,
.navbar .navbar-nav > li > a.btn.btn-youtube:focus,
.navbar .navbar-nav > li > a.btn.btn-youtube:active,
.navbar .navbar-nav > li > a.btn.btn-youtube:hover {
	color: #fff;
	background-color: #e52d27;
	-webkit-box-shadow: 0 14px 26px -12px rgba(229, 45, 39, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(229, 45, 39, 0.2);
	box-shadow: 0 14px 26px -12px rgba(229, 45, 39, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(229, 45, 39, 0.2);
}
.btn.btn-youtube.btn-simple,
.navbar .navbar-nav > li > a.btn.btn-youtube.btn-simple {
	color: #e52d27;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn.btn-instagram,
.navbar .navbar-nav > li > a.btn.btn-instagram {
	color: #fff;
	background-color: #125688;
	-webkit-box-shadow: 0 2px 2px 0 rgba(18, 86, 136, 0.14), 0 3px 1px -2px rgba(18, 86, 136, 0.2), 0 1px 5px 0 rgba(18, 86, 136, 0.12);
	box-shadow: 0 2px 2px 0 rgba(18, 86, 136, 0.14), 0 3px 1px -2px rgba(18, 86, 136, 0.2), 0 1px 5px 0 rgba(18, 86, 136, 0.12);
}
.btn.btn-instagram:focus,
.btn.btn-instagram:active,
.btn.btn-instagram:hover,
.navbar .navbar-nav > li > a.btn.btn-instagram:focus,
.navbar .navbar-nav > li > a.btn.btn-instagram:active,
.navbar .navbar-nav > li > a.btn.btn-instagram:hover {
	color: #fff;
	background-color: #125688;
	-webkit-box-shadow: 0 14px 26px -12px rgba(18, 86, 136, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(18, 86, 136, 0.2);
	box-shadow: 0 14px 26px -12px rgba(18, 86, 136, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(18, 86, 136, 0.2);
}
.btn.btn-instagram.btn-simple,
.navbar .navbar-nav > li > a.btn.btn-instagram.btn-simple {
	color: #125688;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn.btn-reddit,
.navbar .navbar-nav > li > a.btn.btn-reddit {
	color: #fff;
	background-color: #ff4500;
	-webkit-box-shadow: 0 2px 2px 0 rgba(255, 69, 0, 0.14), 0 3px 1px -2px rgba(255, 69, 0, 0.2), 0 1px 5px 0 rgba(255, 69, 0, 0.12);
	box-shadow: 0 2px 2px 0 rgba(255, 69, 0, 0.14), 0 3px 1px -2px rgba(255, 69, 0, 0.2), 0 1px 5px 0 rgba(255, 69, 0, 0.12);
}
.btn.btn-reddit:focus,
.btn.btn-reddit:active,
.btn.btn-reddit:hover,
.navbar .navbar-nav > li > a.btn.btn-reddit:focus,
.navbar .navbar-nav > li > a.btn.btn-reddit:active,
.navbar .navbar-nav > li > a.btn.btn-reddit:hover {
	color: #fff;
	background-color: #ff4500;
	-webkit-box-shadow: 0 14px 26px -12px rgba(255, 69, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 69, 0, 0.2);
	box-shadow: 0 14px 26px -12px rgba(255, 69, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 69, 0, 0.2);
}
.btn.btn-reddit.btn-simple,
.navbar .navbar-nav > li > a.btn.btn-reddit.btn-simple {
	color: #ff4500;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn.btn-tumblr,
.navbar .navbar-nav > li > a.btn.btn-tumblr {
	color: #fff;
	background-color: #35465c;
	-webkit-box-shadow: 0 2px 2px 0 rgba(53, 70, 92, 0.14), 0 3px 1px -2px rgba(53, 70, 92, 0.2), 0 1px 5px 0 rgba(53, 70, 92, 0.12);
	box-shadow: 0 2px 2px 0 rgba(53, 70, 92, 0.14), 0 3px 1px -2px rgba(53, 70, 92, 0.2), 0 1px 5px 0 rgba(53, 70, 92, 0.12);
}
.btn.btn-tumblr:focus,
.btn.btn-tumblr:active,
.btn.btn-tumblr:hover,
.navbar .navbar-nav > li > a.btn.btn-tumblr:focus,
.navbar .navbar-nav > li > a.btn.btn-tumblr:active,
.navbar .navbar-nav > li > a.btn.btn-tumblr:hover {
	color: #fff;
	background-color: #35465c;
	-webkit-box-shadow: 0 14px 26px -12px rgba(53, 70, 92, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(53, 70, 92, 0.2);
	box-shadow: 0 14px 26px -12px rgba(53, 70, 92, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(53, 70, 92, 0.2);
}
.btn.btn-tumblr.btn-simple,
.navbar .navbar-nav > li > a.btn.btn-tumblr.btn-simple {
	color: #35465c;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn.btn-behance,
.navbar .navbar-nav > li > a.btn.btn-behance {
	color: #fff;
	background-color: #1769ff;
	-webkit-box-shadow: 0 2px 2px 0 rgba(23, 105, 255, 0.14), 0 3px 1px -2px rgba(23, 105, 255, 0.2), 0 1px 5px 0 rgba(23, 105, 255, 0.12);
	box-shadow: 0 2px 2px 0 rgba(23, 105, 255, 0.14), 0 3px 1px -2px rgba(23, 105, 255, 0.2), 0 1px 5px 0 rgba(23, 105, 255, 0.12);
}
.btn.btn-behance:focus,
.btn.btn-behance:active,
.btn.btn-behance:hover,
.navbar .navbar-nav > li > a.btn.btn-behance:focus,
.navbar .navbar-nav > li > a.btn.btn-behance:active,
.navbar .navbar-nav > li > a.btn.btn-behance:hover {
	color: #fff;
	background-color: #1769ff;
	-webkit-box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2);
	box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2);
}
.btn.btn-behance.btn-simple,
.navbar .navbar-nav > li > a.btn.btn-behance.btn-simple {
	color: #1769ff;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.container {
	max-width: 100%;
}


/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
.navbar .navbar-nav > li > a:not(.btn) .fa {
	position: relative;
	top: 0;
	margin-top: -3px;
	margin-right: 3px;
}

.navbar .navbar-nav > li.btn {
	padding: 0 10px;
}

.navbar .navbar-nav > li > .profile-photo {
	margin: 5px 2px;
}

.navbar-default:not(.navbar-transparent) .navbar-nav > li > a.btn.btn-white.btn-simple {
	color: #555;
}

.navbar.navbar-color-on-scroll li.active a {
	color: #071022;
	background: rgba(0,0,0,0.56)  !important;
}

.navbar.navbar-color-on-scroll li.active.btn a,
.navbar.navbar-transparent li.active a {
	color: #fff;
	 background: rgba(0,0,0,0.56)  !important;
}

.navbar.navbar-transparent ul.dropdown-menu li a {
	color: #333;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

legend {
	margin-bottom: 20px;
	font-size: 21px;
}

output {
	padding-top: 8px;
	font-size: 14px;
	line-height: 1.42857;
}

.form-control {
	height: 36px;
	padding: 7px 0;
	font-size: 14px;
	line-height: 1.42857;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	input[type="date"].form-control,
	input[type="time"].form-control,
	input[type="datetime-local"].form-control,
	input[type="month"].form-control {
		line-height: 36px;
	}

	input[type="date"].input-sm,
	.input-group-sm input[type="date"],
	input[type="time"].input-sm,
	.input-group-sm
	input[type="time"],
	input[type="datetime-local"].input-sm,
	.input-group-sm
	input[type="datetime-local"],
	input[type="month"].input-sm,
	.input-group-sm
	input[type="month"] {
		line-height: 24px;
	}

	input[type="date"].input-lg,
	.input-group-lg input[type="date"],
	input[type="time"].input-lg,
	.input-group-lg
	input[type="time"],
	input[type="datetime-local"].input-lg,
	.input-group-lg
	input[type="datetime-local"],
	input[type="month"].input-lg,
	.input-group-lg
	input[type="month"] {
		line-height: 44px;
	}
}

.radio label,
.checkbox label {
	min-height: 20px;
}

.form-control-static {
	min-height: 34px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.input-sm .input-sm {
	height: 24px;
	padding: 3px 0;
	border-radius: 0;
	font-size: 11px;
	line-height: 1.5;
}

.input-sm select.input-sm {
	height: 24px;
	line-height: 24px;
}

.input-sm textarea.input-sm,
.input-sm select[multiple].input-sm {
	height: auto;
}

.form-group-sm .form-control {
	height: 24px;
	padding: 3px 0;
	font-size: 11px;
	line-height: 1.5;
}

.form-group-sm select.form-control {
	height: 24px;
	line-height: 24px;
}

.form-group-sm textarea.form-control,
.form-group-sm select[multiple].form-control {
	height: auto;
}

.form-group-sm .form-control-static {
	height: 24px;
	min-height: 31px;
	padding: 4px 0;
	font-size: 11px;
	line-height: 1.5;
}

.input-lg .input-lg {
	height: 44px;
	padding: 9px 0;
	border-radius: 0;
	font-size: 18px;
	line-height: 1.33333;
}

.input-lg select.input-lg {
	height: 44px;
	line-height: 44px;
}

.input-lg textarea.input-lg,
.input-lg select[multiple].input-lg {
	height: auto;
}

.form-group-lg .form-control {
	height: 44px;
	padding: 9px 0;
	font-size: 18px;
	line-height: 1.33333;
}

.form-group-lg select.form-control {
	height: 44px;
	line-height: 44px;
}

.form-group-lg textarea.form-control,
.form-group-lg select[multiple].form-control {
	height: auto;
}

.form-group-lg .form-control-static {
	height: 44px;
	min-height: 38px;
	padding: 10px 0;
	font-size: 18px;
	line-height: 1.33333;
}

.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
	padding-top: 8px;
}

.form-horizontal .radio,
.form-horizontal .checkbox {
	min-height: 28px;
}

.label {
	border-radius: 2px;
}

.label,
.label.label-default {
	background-color: #fff;
}

.label.label-primary {
	background-color: #9c27b0;
}

.label.label-success {
	background-color: #4caf50;
}

.label.label-danger {
	background-color: #f44336;
}

.label.label-rose {
	background-color: #e91e63;
}

.form-control,
.form-group .form-control,
.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
	float: none;
	border: 0;
	border-radius: 0;
	background-color: transparent;
	background-image: -webkit-linear-gradient(#9c27b0, #9c27b0), -webkit-linear-gradient(#d2d2d2, #d2d2d2);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#9c27b0), to(#9c27b0)), -webkit-gradient(linear, left top, left bottom, from(#d2d2d2), to(#d2d2d2));
	background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#d2d2d2, #d2d2d2);
	background-repeat: no-repeat;
	background-position: center bottom, center -webkit-calc(100% - 1px);
	background-position: center bottom, center calc(100% - 1px);
	background-size: 0 2px, 100% 1px;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-weight: 400;
	-webkit-transition: background 0s ease-out;
	transition: background 0s ease-out;
}

.form-control::-moz-placeholder,
.form-group .form-control::-moz-placeholder {
	color: #aaa;
	font-weight: 400;
}

.form-control:-ms-input-placeholder,
.form-group .form-control:-ms-input-placeholder {
	color: #aaa;
	font-weight: 400;
}

.form-control::-webkit-input-placeholder,
.form-group .form-control::-webkit-input-placeholder {
	color: #aaa;
	font-weight: 400;
}

.form-control[readonly],
.form-control[disabled],
fieldset[disabled] .form-control,
.form-group .form-control[readonly],
.form-group .form-control[disabled],
fieldset[disabled]
.form-group .form-control {
	background-color: transparent;
}

.form-control[disabled],
fieldset[disabled] .form-control,
.form-group .form-control[disabled],
fieldset[disabled]
.form-group .form-control {
	border-bottom: 1px dotted #d2d2d2;
	background-image: none;
}

.form-group {
	position: relative;
}

.form-group.label-static label.control-label,
.form-group.label-placeholder label.control-label,
.form-group.label-floating label.control-label {
	position: absolute;
	-webkit-transition: 0.3s ease all;
	transition: 0.3s ease all;
	pointer-events: none;
}

.form-group.label-floating label.control-label {
	will-change: left,top,contents;
}

.form-group.label-placeholder:not(.is-empty) label.control-label {
	display: none;
}

.form-group .help-block {
	display: none;
	position: absolute;
}

/*.form-group.is-focused .form-control {
	outline: none;
	background-image: -webkit-gradient(linear,left top, left bottom,from(#9c27b0),to(#9c27b0)),-webkit-gradient(linear,left top, left bottom,from(#d2d2d2),to(#d2d2d2));
	background-image: -webkit-linear-gradient(#9c27b0,#9c27b0),-webkit-linear-gradient(#d2d2d2,#d2d2d2);
	background-image: linear-gradient(#9c27b0,#9c27b0),linear-gradient(#d2d2d2,#d2d2d2);
	background-size: 100% 2px,100% 1px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}*/

.form-group.is-focused .form-control .material-input:after {
	background-color: #9c27b0;
}

.form-group.is-focused.form-info .form-control {
	background-image: -webkit-gradient(linear,left top, left bottom,from(#00bcd4),to(#00bcd4)),-webkit-gradient(linear,left top, left bottom,from(#d2d2d2),to(#d2d2d2));
	background-image: -webkit-linear-gradient(#00bcd4,#00bcd4),-webkit-linear-gradient(#d2d2d2,#d2d2d2);
	background-image: linear-gradient(#00bcd4,#00bcd4),linear-gradient(#d2d2d2,#d2d2d2);
}

.form-group.is-focused.form-success .form-control {
	background-image: -webkit-gradient(linear,left top, left bottom,from(#4caf50),to(#4caf50)),-webkit-gradient(linear,left top, left bottom,from(#d2d2d2),to(#d2d2d2));
	background-image: -webkit-linear-gradient(#4caf50,#4caf50),-webkit-linear-gradient(#d2d2d2,#d2d2d2);
	background-image: linear-gradient(#4caf50,#4caf50),linear-gradient(#d2d2d2,#d2d2d2);
}

.form-group.is-focused.form-warning .form-control {
	background-image: -webkit-gradient(linear,left top, left bottom,from(#ff9800),to(#ff9800)),-webkit-gradient(linear,left top, left bottom,from(#d2d2d2),to(#d2d2d2));
	background-image: -webkit-linear-gradient(#ff9800,#ff9800),-webkit-linear-gradient(#d2d2d2,#d2d2d2);
	background-image: linear-gradient(#ff9800,#ff9800),linear-gradient(#d2d2d2,#d2d2d2);
}

.form-group.is-focused.form-danger .form-control {
	background-image: -webkit-gradient(linear,left top, left bottom,from(#f44336),to(#f44336)),-webkit-gradient(linear,left top, left bottom,from(#d2d2d2),to(#d2d2d2));
	background-image: -webkit-linear-gradient(#f44336,#f44336),-webkit-linear-gradient(#d2d2d2,#d2d2d2);
	background-image: linear-gradient(#f44336,#f44336),linear-gradient(#d2d2d2,#d2d2d2);
}

.form-group.is-focused.form-rose .form-control {
	background-image: -webkit-gradient(linear,left top, left bottom,from(#e91e63),to(#e91e63)),-webkit-gradient(linear,left top, left bottom,from(#d2d2d2),to(#d2d2d2));
	background-image: -webkit-linear-gradient(#e91e63,#e91e63),-webkit-linear-gradient(#d2d2d2,#d2d2d2);
	background-image: linear-gradient(#e91e63,#e91e63),linear-gradient(#d2d2d2,#d2d2d2);
}

.form-group.is-focused.form-white .form-control {
	background-image: -webkit-gradient(linear,left top, left bottom,from(#fff),to(#fff)),-webkit-gradient(linear,left top, left bottom,from(#d2d2d2),to(#d2d2d2));
	background-image: -webkit-linear-gradient(#fff,#fff),-webkit-linear-gradient(#d2d2d2,#d2d2d2);
	background-image: linear-gradient(#fff,#fff),linear-gradient(#d2d2d2,#d2d2d2);
}

.form-group.is-focused.label-placeholder label,
.form-group.is-focused.label-placeholder label.control-label {
	color: #aaa;
}

.form-group.is-focused .help-block {
	display: block;
}

.form-group.has-warning .form-control {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.form-group.has-warning.is-focused .form-control {
	background-image: -webkit-gradient(linear,left top, left bottom,from(#ff9800),to(#ff9800)),-webkit-gradient(linear,left top, left bottom,from(#d2d2d2),to(#d2d2d2));
	background-image: -webkit-linear-gradient(#ff9800,#ff9800),-webkit-linear-gradient(#d2d2d2,#d2d2d2);
	background-image: linear-gradient(#ff9800,#ff9800),linear-gradient(#d2d2d2,#d2d2d2);
}

.form-group.has-warning label.control-label,
.form-group.has-warning .help-block {
	color: #ff9800;
}

.form-group.has-error .form-control {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.form-group.has-error.is-focused .form-control {
	background-image: -webkit-gradient(linear,left top, left bottom,from(#f44336),to(#f44336)),-webkit-gradient(linear,left top, left bottom,from(#d2d2d2),to(#d2d2d2));
	background-image: -webkit-linear-gradient(#f44336,#f44336),-webkit-linear-gradient(#d2d2d2,#d2d2d2);
	background-image: linear-gradient(#f44336,#f44336),linear-gradient(#d2d2d2,#d2d2d2);
}

.form-group.has-error label.control-label,
.form-group.has-error .help-block {
	color: #f44336;
}

.form-group.has-success .form-control {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.form-group.has-success.is-focused .form-control {
	background-image: -webkit-gradient(linear,left top, left bottom,from(#4caf50),to(#4caf50)),-webkit-gradient(linear,left top, left bottom,from(#d2d2d2),to(#d2d2d2));
	background-image: -webkit-linear-gradient(#4caf50,#4caf50),-webkit-linear-gradient(#d2d2d2,#d2d2d2);
	background-image: linear-gradient(#4caf50,#4caf50),linear-gradient(#d2d2d2,#d2d2d2);
}

.form-group.has-success label.control-label,
.form-group.has-success .help-block {
	color: #4caf50;
}

.form-group.has-info .form-control {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.form-group.has-info.is-focused .form-control {
	background-image: -webkit-gradient(linear,left top, left bottom,from(#00bcd4),to(#00bcd4)),-webkit-gradient(linear,left top, left bottom,from(#d2d2d2),to(#d2d2d2));
	background-image: -webkit-linear-gradient(#00bcd4,#00bcd4),-webkit-linear-gradient(#d2d2d2,#d2d2d2);
	background-image: linear-gradient(#00bcd4,#00bcd4),linear-gradient(#d2d2d2,#d2d2d2);
}

.form-group.has-info label.control-label,
.form-group.has-info .help-block {
	color: #00bcd4;
}

.form-group textarea {
	resize: none;
}

.form-group textarea ~ .form-control-highlight {
	margin-top: -11px;
}

.form-control {
	margin-bottom: 7px;
}

.form-control::-moz-placeholder {
	color: #aaa;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857;
}

.form-control:-ms-input-placeholder {
	color: #aaa;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857;
}

.form-control::-webkit-input-placeholder {
	color: #aaa;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857;
}

.checkbox label,
.radio label,
label {
	color: #aaa;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857;
}

label.control-label {
	margin: 16px 0 0;
	color: #aaa;
	font-size: 11px;
	font-weight: 400;
	line-height: 1.07143;
}

.help-block {
	margin-top: 0;
	font-size: 11px;
}

.form-group {
	padding-bottom: 7px;
}

.form-group .form-control {
	margin-bottom: 7px;
}

.form-group .form-control::-moz-placeholder {
	color: #aaa;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857;
}

.form-group .form-control:-ms-input-placeholder {
	color: #aaa;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857;
}

.form-group .form-control::-webkit-input-placeholder {
	color: #aaa;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857;
}

.form-group .checkbox label,
.form-group .radio label,
.form-group label {
	color: #aaa;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857;
}

.form-group label.control-label {
	margin: 16px 0 0;
	color: #aaa;
	font-size: 11px;
	font-weight: 400;
	line-height: 1.07143;
}

.form-group .help-block {
	margin-top: 0;
	font-size: 11px;
}

.form-group.label-floating label.control-label,
.form-group.label-placeholder label.control-label {
	top: -7px;
	font-size: 14px;
	line-height: 1.42857;
}

.form-group.label-static label.control-label,
.form-group.label-floating.is-focused label.control-label,
.form-group.label-floating:not(.is-empty) label.control-label {
	top: -28px;
	left: 0;
	font-size: 11px;
	line-height: 1.07143;
}

.form-group.label-floating input.form-control:-webkit-autofill ~ label.control-label label.control-label {
	top: -28px;
	left: 0;
	font-size: 11px;
	line-height: 1.07143;
}

.form-group.form-group-sm {
	margin: 21px 0 0;
	padding-bottom: 3px;
}

.form-group.form-group-sm .form-control {
	margin-bottom: 3px;
}

.form-group.form-group-sm .form-control::-moz-placeholder {
	color: #aaa;
	font-size: 11px;
	font-weight: 400;
	line-height: 1.5;
}

.form-group.form-group-sm .form-control:-ms-input-placeholder {
	color: #aaa;
	font-size: 11px;
	font-weight: 400;
	line-height: 1.5;
}

.form-group.form-group-sm .form-control::-webkit-input-placeholder {
	color: #aaa;
	font-size: 11px;
	font-weight: 400;
	line-height: 1.5;
}

.form-group.form-group-sm .checkbox label,
.form-group.form-group-sm .radio label,
.form-group.form-group-sm label {
	color: #aaa;
	font-size: 11px;
	font-weight: 400;
	line-height: 1.5;
}

.form-group.form-group-sm label.control-label {
	margin: 16px 0 0;
	color: #aaa;
	font-size: 9px;
	font-weight: 400;
	line-height: 1.125;
}

.form-group.form-group-sm .help-block {
	margin-top: 0;
	font-size: 9px;
}

.form-group.form-group-sm.label-floating label.control-label,
.form-group.form-group-sm.label-placeholder label.control-label {
	top: -11px;
	font-size: 11px;
	line-height: 1.5;
}

.form-group.form-group-sm.label-static label.control-label,
.form-group.form-group-sm.label-floating.is-focused label.control-label,
.form-group.form-group-sm.label-floating:not(.is-empty) label.control-label {
	top: -25px;
	left: 0;
	font-size: 9px;
	line-height: 1.125;
}

.form-group.form-group-sm.label-floating input.form-control:-webkit-autofill ~ label.control-label label.control-label {
	top: -25px;
	left: 0;
	font-size: 9px;
	line-height: 1.125;
}

.form-group.form-group-lg {
	margin: 30px 0 0;
	padding-bottom: 9px;
}

.form-group.form-group-lg .form-control {
	margin-bottom: 9px;
}

.form-group.form-group-lg .form-control::-moz-placeholder {
	color: #aaa;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.33333;
}

.form-group.form-group-lg .form-control:-ms-input-placeholder {
	color: #aaa;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.33333;
}

.form-group.form-group-lg .form-control::-webkit-input-placeholder {
	color: #aaa;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.33333;
}

.form-group.form-group-lg .checkbox label,
.form-group.form-group-lg .radio label,
.form-group.form-group-lg label {
	color: #aaa;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.33333;
}

.form-group.form-group-lg label.control-label {
	margin: 16px 0 0;
	color: #aaa;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
}

.form-group.form-group-lg .help-block {
	margin-top: 0;
	font-size: 14px;
}

.form-group.form-group-lg.label-floating label.control-label,
.form-group.form-group-lg.label-placeholder label.control-label {
	top: -5px;
	font-size: 18px;
	line-height: 1.33333;
}

.form-group.form-group-lg.label-static label.control-label,
.form-group.form-group-lg.label-floating.is-focused label.control-label,
.form-group.form-group-lg.label-floating:not(.is-empty) label.control-label {
	top: -32px;
	left: 0;
	font-size: 14px;
	line-height: 1;
}

.form-group.form-group-lg.label-floating input.form-control:-webkit-autofill ~ label.control-label label.control-label {
	top: -32px;
	left: 0;
	font-size: 14px;
	line-height: 1;
}

select.form-control {
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.form-group.is-focused select.form-control {
	border-color: #d2d2d2;
	-webkit-box-shadow: none;
	box-shadow: none;
}

select.form-control[multiple],
.form-group.is-focused select.form-control[multiple] {
	height: 85px;
}

.input-group-btn .btn {
	margin: 0 0 7px;
}

.form-group.form-group-sm .input-group-btn .btn {
	margin: 0 0 3px;
}

.form-group.form-group-lg .input-group-btn .btn {
	margin: 0 0 9px;
}

.input-group .input-group-btn {
	padding: 0 12px;
}

.input-group .input-group-addon {
	padding: 6px 15px 0;
	border: 0;
	background: transparent;
}

.form-group input[type=file] {
	position: absolute;
	z-index: 100;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.form-control-feedback {
	opacity: 0;
}

.has-success .form-control-feedback {
	opacity: 1;
	color: #4caf50;
}

.has-error .form-control-feedback {
	opacity: 1;
	color: #f44336;
}

/*--------------------------------------------------------------
# Pagination and navbar
--------------------------------------------------------------*/

.pagination > li > a,
.pagination > li > span {
	min-width: 30px;
	height: 30px;
	margin: 0 3px;
	padding: 0 11px;
	border: 0;
	border-radius: 30px !important;
	color: #999;
	background: transparent;
	font-size: 12px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus {
	color: #999;
}

.pagination > li > span.current {
	color: #999;
}

.pagination > li > span.current,
.pagination > li > span.current:focus,
.pagination > li > span.current:hover {
	border-color: #9c27b0;
	color: #fff;
	background-color: #9c27b0;
	-webkit-box-shadow: 0 4px 5px 0 rgba(156,39,176,0.14),0 1px 10px 0 rgba(156,39,176,0.12),0 2px 4px -1px rgba(156,39,176,0.2);
	box-shadow: 0 4px 5px 0 rgba(156,39,176,0.14),0 1px 10px 0 rgba(156,39,176,0.12),0 2px 4px -1px rgba(156,39,176,0.2);
}

.pagination > li > span.dots:hover {
	background: none;
}

.label {
	padding: 5px 12px;
	border-radius: 12px;
	font-size: 10px;
	text-transform: uppercase;
}

.label.label-default {
	background-color: #999;
}

.section-dark .nav-pills > li > a,
.section-image .nav-pills > li > a {
	color: #999;
}

.section-dark .nav-pills > li > a:hover,
.section-dark .nav-pills > li > a:focus,
.section-image .nav-pills > li > a:hover,
.section-image .nav-pills > li > a:focus {
	background-color: #eee;
}

.nav-pills > li > a {
	min-width: 100px;
	color: #555;
	font-size: 12px;
	font-weight: 500;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.nav-pills > li > a:hover {
	background-color: rgba(200,200,200,0.2);
}

.nav-pills > li i {
	display: block;
	padding: 15px 0;
	font-size: 30px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
	color: #fff;
	background-color: #9c27b0;
	-webkit-box-shadow: 0 16px 26px -10px rgba(156,39,176,0.56),0 4px 25px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba(156,39,176,0.2);
	box-shadow: 0 16px 26px -10px rgba(156,39,176,0.56),0 4px 25px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba(156,39,176,0.2);
}

.nav-pills:not(.nav-pills-icons) > li > a {
	border-radius: 30px;
}

.tab-space {
	padding: 20px 0 50px;
}

.navbar {
	padding: 10px 0;
	border: 0;
	border-radius: 3px;
	-webkit-box-shadow: 0 10px 20px -12px rgba(0,0,0,0.42),0 3px 20px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.2);
	box-shadow: 0 10px 20px -12px rgba(0,0,0,0.42),0 3px 20px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.2);
}

.navbar .title-logo-wrapper {
    min-width: 250px;
}

.navbar .navbar-brand {
	position: relative;
    max-width: 100%;
	padding: 10px 15px;
	color: inherit;
	line-height: 30px;
}

.navbar .navbar-brand h1 {
	margin: 0;
	font-size: 18px;
	line-height: 1.5em;
}

.navbar .navbar-brand p {
	font-size: 18px;
}

.navbar .navbar-brand img {
	max-height: 100%;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
	color: inherit;
	background-color: transparent;
}

.navbar .navbar-text {
	margin-top: 15px;
	margin-bottom: 15px;
	color: inherit;
}


.navbar .navbar-nav > li > a {

	border-radius: 3px;
	color: inherit;
	font-size: 11px;
	font-weight: 300;
	text-transform: uppercase;
	padding: 3px;
	font-weight: 300;
	vertical-align: middle;

}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
	color: inherit;
}

.navbar .navbar-nav > li > a:before {
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 3px;
	background-color: rgba(255,255,255,0.1);
	content: "";
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 50%;
	-ms-transform-origin: 50%;
	transform-origin: 50%;
}

.navbar .navbar-nav > li > a:hover:before,
.navbar .navbar-nav > li > a:focus:before {
	color: inherit;
	-webkit-transform: scaleX(1);
	-ms-transform: scaleX(1);
	transform: scaleX(1);
}

.navbar .navbar-nav > li.btn > a:hover:before,
.navbar .navbar-nav > li.btn > a:focus:before {
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
}

.navbar .navbar-nav > li > a .fa,
.navbar .navbar-nav > li > a .fa {
	max-width: 20px;
	font-size: 20px;
}

.navbar .navbar-nav > li{
	margin: 0;
}

.navbar .navbar-nav > li > a:not(.btn-just-icon) .fa {
	position: relative;
	top: 2px;
	margin-top: -4px;
	margin-right: 4px;
}

.navbar .navbar-nav > li > .dropdown-menu {
	margin-top: -20px;
}

.navbar .navbar-nav > li.open > .dropdown-menu {
	margin-top: 0;
}

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
	color: inherit;
	background-color: transparent;
}

.navbar .navbar-nav > .disabled > a,
.navbar .navbar-nav > .disabled > a:hover,
.navbar .navbar-nav > .disabled > a:focus {
	opacity: 0.9;
	color: inherit;
	background-color: transparent;
}

.navbar .navbar-nav .profile-photo {
	padding: 0;
}

.navbar .navbar-nav .profile-photo .profile-photo-small {
	width: 40px;
	height: 40px;
}

.navbar .navbar-toggle {
	border: 0;
}

.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
	background-color: transparent;
}

.navbar .navbar-toggle .icon-bar {
	border: 1px solid;
	background-color: inherit;
}

.navbar .navbar-default .navbar-toggle,
.navbar .navbar-inverse .navbar-toggle {
	border-color: transparent;
}

.navbar .navbar-collapse {
	border-top: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
	color: inherit;
	background-color: transparent;
}

.navbar.navbar-default .logo-container .brand {
	color: #555;
}

.navbar .navbar-link {
	color: inherit;
}

.navbar .navbar-link:hover {
	color: inherit;
}

.navbar .btn {
	margin-top: 0;
	margin-bottom: 0;
}

.navbar .btn-link {
	color: inherit;
}

.navbar .btn-link:hover,
.navbar .btn-link:focus {
	color: inherit;
}

.navbar .btn-link[disabled]:hover,
.navbar .btn-link[disabled]:focus,
fieldset[disabled] .navbar .btn-link:hover,
fieldset[disabled] .navbar .btn-link:focus {
	color: inherit;
}

.navbar,
.navbar.navbar-default {
	color: #555;
	background-color: #fff;
	-webkit-transition: all 150ms ease 0s;
	transition: all 150ms ease 0s;
}

.navbar .dropdown-menu,
.navbar.navbar-default .dropdown-menu {
	border-radius: 3px !important;
}

.navbar .dropdown-menu li > a:hover,
.navbar .dropdown-menu li > a:focus,
.navbar.navbar-default .dropdown-menu li > a:hover,
.navbar.navbar-default .dropdown-menu li > a:focus {
	color: #fff;
	background-color: #fff;
}

.navbar .dropdown-menu .active > a,
.navbar.navbar-default .dropdown-menu .active > a {
	color: #555;
	background-color: #fff;
}

.navbar .dropdown-menu li > a > i {
	position: relative;
	top: 1px;
	min-width: 30px;
	margin-right: 12px;
	opacity: 0.5;
	color: #333;
	font-size: 24px;
	text-align: center;
}

.navbar .dropdown-menu li > a:hover > i {
	color: #fff;
}

.navbar .dropdown-menu .active > a:hover,
.navbar .dropdown-menu .active > a:focus,
.navbar.navbar-default .dropdown-menu .active > a:hover,
.navbar.navbar-default .dropdown-menu .active > a:focus {
	color: #fff;
}

.dropdown-menu li > a .fa {
	position: relative;
	top: 1px;
	margin-top: -4px;
	margin-right: 12px;
	opacity: 0.5;
	font-size: 20px;
	vertical-align: middle;
}

.navbar.navbar-transparent {
	/*padding-top: 25px;*/
	color: #fff;
	background-color: #1d2c48 ;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.navbar.navbar-transparent .logo-container .brand {
	color: #fff;
}

.navbar-fixed-top {
	border-radius: 0;
}

.navbar .alert {
	position: absolute;
	z-index: 3;
	top: 85px;
	right: 0;
	left: 0;
	width: 100%;
	border-radius: 0;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.nav-align-center {
	text-align: center;
}

.nav-align-center .nav-pills {
	display: inline-block;
}

.navbar-absolute {
	position: absolute;
	z-index: 1029;
	width: 100%;
	padding-top: 10px;
}

.dropdown-menu {
	border: 0;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
}

.dropdown-menu .divider {
	background-color: rgba(0,0,0,0.12);
}

.dropdown-menu li > a {
	margin: 0 5px;
	padding: 12px 20px 12px 12px;
	border-radius: 2px;
	font-size: 13px;
	-webkit-transition: all 150ms linear;
	transition: all 150ms linear;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus {
	-webkit-box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.2);
	box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.2);
}

.dropdown-menu.dropdown-with-icons li > a {
	padding: 12px 20px 12px 12px;
}

.dropdown-menu.dropdown-with-icons li > a .material-icons {
	position: relative;
	top: 1px;
	margin-top: -4px;
	margin-right: 12px;
	opacity: 0.5;
	font-size: 24px;
	vertical-align: middle;
}

.dropdown-menu li {
	position: relative;
}

.dropdown-menu li a:hover,
.dropdown-menu li a:focus,
.dropdown-menu li a:active {
	color: #fff;
	background-color: #9c27b0;
}

.dropdown-menu .divider {
	margin: 5px 0;
}

.navbar .dropdown-menu li > a:hover,
.navbar .dropdown-menu li > a:focus,
.navbar.navbar-default .dropdown-menu li > a:hover,
.navbar.navbar-default .dropdown-menu li > a:focus {
	color: #fff;
	background-color: rgba(0,0,0,0.56);
	box-shadow: none !important;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

h1,
.h1 {
	font-size: 3.8em;
	line-height: 1.15em;
}

h2,
.h2 {
	font-size: 2.6em;
}

h3,
.h3 {
	margin: 20px 0 10px;
	font-size: 1.825em;
	line-height: 1.4em;
}

h4,
.h4 {
	font-size: 17px;
	line-height: 1.55em;
}

h5,
.h5 {
	margin-bottom: 15px;
	font-size: 1.25em;
	line-height: 1.55em;
}

h6,
.h6 {
	font-size: 0.9em;
	font-weight: 500;
	text-transform: uppercase;
}

.title,
.card-title,
.info-title,
.footer-brand,
.footer-big h5,
.footer-big h4,
.media .media-heading {
	font-family: "Roboto Slab","Times New Roman",serif;
	font-weight: 700;
}

.title,
.title a,
.card-title,
.card-title a,
.info-title,
.info-title a,
.footer-brand,
.footer-brand a,
.footer-big h5,
.footer-big h5 a,
.footer-big h4,
.footer-big h4 a,
.media .media-heading,
.media .media-heading a {
	color: #3c4858;
	text-decoration: none;
	word-wrap: break-word;
}

h2.title {
	margin-bottom: 30px;
}

.carousel h2.title {
	margin-bottom: 20px;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-size: 4.8em;
	line-height: 1.15em;
}

.carousel h4 {
	margin-bottom: 60px;
	font-family: "Roboto Slab", "Times New Roman", serif;
	font-size: 1.3em;
	line-height: 1.4em;
}

.carousel .buttons a {
	padding: 17px 35px;
	font-size: 14px;
}

.description,
.card-description,
.footer-big {
	color: #999;
}

.subscribe-description {
	color: #efefef;
}

.text-warning {
	color: #ff9800;
}

.text-primary {
	color: #9c27b0;
}

.text-danger {
	color: #f44336;
}

.text-success {
	color: #4caf50;
}

.text-info {
	color: #00bcd4;
}

.text-rose {
	color: #e91e63;
}

.text-gray {
	color: #999;
}

.tooltip.in {
	opacity: 1;
	-webkit-transform: translate3d(0,0px,0);
	-ms-transform: translate3d(0,0px,0);
	transform: translate3d(0,0px,0);
}

.tooltip {
	opacity: 0;
	-webkit-transition: opacity,-webkit-transform 0.2s ease;
	transition: opacity,-webkit-transform 0.2s ease;
	transition: opacity,transform 0.2s ease;
	transition: opacity,transform 0.2s ease,-webkit-transform 0.2s ease;
	-webkit-transform: translate3d(0,5px,0);
	-ms-transform: translate3d(0,5px,0);
	transform: translate3d(0,5px,0);
}

.tooltip.left .tooltip-arrow {
	border-left-color: #fff;
}

.tooltip.right .tooltip-arrow {
	border-right-color: #fff;
}

.tooltip.top .tooltip-arrow {
	border-top-color: #fff;
}

.tooltip.bottom .tooltip-arrow {
	border-bottom-color: #fff;
}

.tooltip-inner {
	min-width: 130px;
	padding: 10px 15px;
	border: none;
	border-radius: 3px;
	color: #555;
	background: #fff;
	-webkit-box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.2);
	box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.2);
	font-size: 12px;
	line-height: 1.5em;
	text-transform: none;
}

.carousel .carousel-control.left,
.carousel .carousel-control.right {
	z-index: 99;
	background-image: none;
}

.carousel .item {
	text-align: center;
}

.carousel .carousel-control.left {
	left: -25px;
}

.carousel .carousel-control.right {
	left: auto;
}

.carousel .carousel-control .fa {
	display: inline-block;
	position: absolute;
	z-index: 5;
	top: 50%;
	margin-top: -15px;
	font-size: 50px;
}

/*--------------------------------------------------------------
# Cards styling
--------------------------------------------------------------*/

.card {
	display: inline-block;
	position: relative;
	width: 100%;
	margin-bottom: 30px;
	border-radius: 6px;
	color: rgba(0,0,0,0.87);
	background: #fff;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
}

.card .card-image {
	overflow: hidden;
	position: relative;
	height: 60%;
	margin-top: -30px;
	margin-right: 15px;
	margin-left: 15px;
	border-radius: 6px;
	-webkit-box-shadow: 0 16px 38px -12px rgba(0,0,0,0.56),0 4px 25px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.2);
	box-shadow: 0 16px 38px -12px rgba(0,0,0,0.56),0 4px 25px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.2);
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	-webkit-transform: translate(0,0);
	-ms-transform: translate(0,0);
	transform: translate(0,0);
}

.card .card-image img {
	float: left;
	width: 100%;
	height: 100%;
	margin: 0 !important; /* For woocommerce fix */
	border-radius: 6px;
}

.card .category:not([class*="text-"]) {
	color: #999;
}

.card .content {
	padding: 15px 30px;
}

.card .header {
	margin: 15px;
	padding: 15px 0;
	border-radius: 3px;
	background-color: #fff;
	-webkit-box-shadow: 0 16px 38px -12px rgba(0,0,0,0.56),0 4px 25px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.2);
	box-shadow: 0 16px 38px -12px rgba(0,0,0,0.56),0 4px 25px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.2);
}

.card .header-primary,
.card .content-primary {
	background: -webkit-linear-gradient(30deg,#ab47bc,#7b1fa2);
	background: linear-gradient(60deg,#ab47bc,#7b1fa2);
}

.card [class*="header-"],
.card [class*="content-"] {
	color: #fff;
}

.card [class*="header-"] .card-title a,
.card [class*="header-"] .card-title,
.card [class*="header-"] .icon i,
.card [class*="content-"] .card-title a,
.card [class*="content-"] .card-title,
.card [class*="content-"] .icon i {
	color: #fff;
}

.card [class*="header-"] .icon i,
.card [class*="content-"] .icon i {
	border-color: rgba(255,255,255,0.25);
}

.card [class*="header-"] .author a,
.card [class*="header-"] .footer .stats,
.card [class*="header-"] .category,
.card [class*="header-"] .card-description,
.card [class*="content-"] .author a,
.card [class*="content-"] .footer .stats,
.card [class*="content-"] .category,
.card [class*="content-"] .card-description {
	color: rgba(255,255,255,0.8);
}

.card [class*="header-"] .author a:hover,
.card [class*="header-"] .author a:focus,
.card [class*="header-"] .author a:active,
.card [class*="content-"] .author a:hover,
.card [class*="content-"] .author a:focus,
.card [class*="content-"] .author a:active {
	color: #fff;
}

.card [class*="content-"] {
	border-radius: 6px;
}

.card [class*="content-"] h1 small,
.card [class*="content-"] h2 small,
.card [class*="content-"] h3 small {
	color: rgba(255,255,255,0.8);
}

.card img {
	width: 100%;
	height: auto;
}

.card .category .fa {
	position: relative;
	top: 6px;
	line-height: 0;
}

.card .author .avatar {
	overflow: hidden;
	width: 30px;
	height: 30px;
	margin-right: 5px;
	border-radius: 50%;
}

.card .author a {
	color: #3c4858;
	text-decoration: none;
}

.card .footer {
	margin-top: 15px;
}

.card .footer div {
	display: inline-block !important; /* for woocommerce fix */
}

.card .footer .author {
	color: #999;
}

.card .footer .stats {
	float: right;
	color: #999;
	line-height: 30px;
}

.card .footer .stats .fa {
	position: relative;
	top: 4px;
	font-size: 18px;
}

.card .checkbox {
	margin-top: 16px;
}

.card-contact .header {
	margin-top: -20px;
}

.card-plain {
	background: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.card-plain .content {
	padding-right: 5px;
	padding-left: 5px;
}

.card-plain .card-image {
	margin: 0;
	border-radius: 3px;
}

.card-plain .card-image a {
	display: block;
}

.card-plain .card-image img {
	border-radius: 3px;
}

.iframe-container iframe {
	width: 100%;
	-webkit-box-shadow: 0 16px 38px -12px rgba(0,0,0,0.56),0 4px 25px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.2);
	box-shadow: 0 16px 38px -12px rgba(0,0,0,0.56),0 4px 25px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.2);
}

.card-form-horizontal .content {
	padding-right: 15px;
	padding-left: 15px;
}

.card-form-horizontal .form-group {
	margin: 3px 0 0;
	padding-bottom: 0;
}

.card-form-horizontal .form-group .form-control {
	margin-bottom: 0;
}

.card-form-horizontal .btn {
	margin: 0;
}

.card-form-horizontal .input-group .input-group-addon {
	padding-left: 0;
}

.card-profile,
.card-testimonial {
	margin-top: 30px;
	text-align: center;
}

.card-profile .card-avatar,
.card-testimonial .card-avatar img {
	overflow: hidden;
	max-width: 130px;
	max-height: 130px;
	margin: -50px auto 0;
	border-radius: 50%;
	-webkit-box-shadow: 0 16px 38px -12px rgba(0,0,0,0.56),0 4px 25px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.2);
	box-shadow: 0 16px 38px -12px rgba(0,0,0,0.56),0 4px 25px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.2);
}

.card-testimonial .card-avatar + .content {
	margin-top: 15px;
}

.card-profile.card-plain .card-avatar {
	margin-top: 0;
}

.card-testimonial .card-avatar {
	max-width: 100px;
	max-height: 100px;
	margin: 30px auto 0;
}

.card-blog {
	margin-top: 30px;
	overflow: visible !important;
}

.card-blog.sticky {
	padding: 20px;
}

.card-blog.sticky .card-image {
	margin-left:0;
	margin-right:0;
}

.card-blog .row .category {
	margin-bottom: 0;
}

.card-blog .row .category a {
	color: #00bcd4;
}

.card-blog .card-title {
	margin-top: 5px;
	font-size: 1.3em;
	line-height: 1.4em;
}

.card-blog a.moretag,
.card-blog a.more-link {
	display: inline-block;
	margin-left: 5px;
	color: #23527c;
}

.card-blog a.moretag:hover,
.card-blog a.more-link:hover {
	color: #89229b;
}

.blogs article:nth-child(6n) .btn-category {
	background-color: #4caf50;
}

.blogs article:nth-child(6n+1) .btn-category {
	background-color: #89229b;
}

.blogs article:nth-child(6n+2) .btn-category {
	background-color: #00bcd4;
}

.blogs article:nth-child(6n+3) .btn-category {
	background-color: #f44336;
}

.blogs article:nth-child(6n+4) .btn-category {
	background-color: #ff9800;
}

.blogs article:nth-child(6n+5) .btn-category {
	background-color: #e91e63;
}

.card-pricing {
	text-align: center;
}

.card-pricing .card-title {
	margin-top: 30px;
	font-size: 60px;
}

.card-pricing .content {
	padding: 15px !important;
}

.card-pricing small {
	font-size: 18px;
}

.card-pricing small:first-child {
	position: relative;
	top: -17px;
	font-size: 26px;
}

.card-pricing ul {
	max-width: 240px;
	margin: 10px auto;
	padding: 0;
	list-style: none;
}

.card-pricing ul li {
	padding: 12px 0;
	border-bottom: 1px solid rgba(153,153,153,0.3);
	color: #999;
	text-align: center;
}

.card-pricing ul li:last-child {
	border: 0;
}

.card-pricing ul li b {
	color: #3c4858;
}

.card-raised {
	-webkit-box-shadow: 0 16px 38px -12px rgba(0,0,0,0.56),0 4px 25px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.2);
	box-shadow: 0 16px 38px -12px rgba(0,0,0,0.56),0 4px 25px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.2);
}

.card-background {
	background-position: center center;
	background-size: cover;
	text-align: center;
}

.card-background .content {
	position: relative;
	z-index: 2;
	max-width: 440px;
	min-height: 280px;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 40px;
}

.card-background .card-title {
	margin-top: 10px;
	color: #fff;
}

.card-background:after {
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	opacity: 0;
	background-color: rgba(0,0,0,0.56);
	content: "";
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.card-background:hover:after {
	opacity: 1;
}

.card-product {
	margin-top: 30px;
}

.card-product .btn-simple.btn-just-icon {
	padding: 0;
}

.card-product .footer {
	margin-top: 5px;
}

.card-product .footer .stats .fa {
	top: 0;
	margin-top: 4px;
}

.card-product .footer .price h4 {
	margin-bottom: 0;
}

.card-product .card-title,
.card-product .category,
.card-product .card-description {
	text-align: center;
}

hr.on-dark {
	color: #1a1a1a;
}

hr.on-light {
	color: #fff;
}

@media (-webkit-min-device-pixel-ratio: 0.75),(min--moz-device-pixel-ratio: 0.75),(-o-device-pixel-ratio: 3 / 4),(min-device-pixel-ratio: 0.75),(min-resolution: 0.75dppx),(-webkit-min-device-pixel-ratio: 1.25),(min-resolution: 120dpi) {
	hr {
		height: 0.75px;
	}
}

@media (-webkit-min-device-pixel-ratio: 1),(min--moz-device-pixel-ratio: 1),(-o-device-pixel-ratio: 1),(min-device-pixel-ratio: 1),(min-resolution: 1dppx),(-webkit-min-device-pixel-ratio: 1.6666666666666667),(min-resolution: 160dpi) {
	hr {
		height: 1px;
	}
}

@media (-webkit-min-device-pixel-ratio: 1.33),(min--moz-device-pixel-ratio: 1.33),(-o-device-pixel-ratio: 133 / 100),(min-device-pixel-ratio: 1.33),(min-resolution: 1.33dppx),(-webkit-min-device-pixel-ratio: 2.21875),(min-resolution: 213dpi) {
	hr {
		height: 1.333px;
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min--moz-device-pixel-ratio: 1.5),(-o-device-pixel-ratio: 3 / 2),(min-device-pixel-ratio: 1.5),(min-resolution: 1.5dppx),(-webkit-min-device-pixel-ratio: 2.5),(min-resolution: 240dpi) {
	hr {
		height: 1.5px;
	}
}

@media (-webkit-min-device-pixel-ratio: 2),(min--moz-device-pixel-ratio: 2),(-o-device-pixel-ratio: 2 / 1),(min-device-pixel-ratio: 2),(min-resolution: 2dppx),(-webkit-min-device-pixel-ratio: 3.9583333333333335),(min-resolution: 380dpi) {
	hr {
		height: 2px;
	}
}

@media (-webkit-min-device-pixel-ratio: 3),(min--moz-device-pixel-ratio: 3),(-o-device-pixel-ratio: 3 / 1),(min-device-pixel-ratio: 3),(min-resolution: 3dppx),(-webkit-min-device-pixel-ratio: 5),(min-resolution: 480dpi) {
	hr {
		height: 3px;
	}
}

@media (-webkit-min-device-pixel-ratio: 4),(min--moz-device-pixel-ratio: 4),(-o-device-pixel-ratio: 4 / 1),(min-device-pixel-ratio: 3),(min-resolution: 4dppx),(-webkit-min-device-pixel-ratio: 6.666666666666667),(min-resolution: 640dpi) {
	hr {
		height: 4px;
	}
}

.img-thumbnail {
	border-radius: 16px;
}

.img-raised {
	-webkit-box-shadow: 0 16px 38px -12px rgba(0,0,0,0.56),0 4px 25px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.2);
	box-shadow: 0 16px 38px -12px rgba(0,0,0,0.56),0 4px 25px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.2);
}

.media .avatar,
.media-body .avatar,
.media-area .avatar {
	overflow: hidden;
	width: 44px;
	height: 44px;
	margin: 0 auto;
	margin-right: 15px;
	border-radius: 50%;
	-webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.media-body div.avatar {
	margin: 0 10px;
}

.media .avatar img {
	width: 100%;
}

.media .media-heading small {
	font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.media .media-body {
	padding-right: 10px;
}

.media .media-body .media .media-body {
	padding-right: 0;
}

.media .media-footer .btn {
	margin-bottom: 20px;
}

.media .media-footer:after {
	display: table;
	clear: both;
	content: " ";
}

.media p {
	color: #999;
	font-size: 16px;
	line-height: 1.6em;
}

.media-left,
.media > .pull-left {
	padding: 10px;
}

.info {
	max-width: 360px;
	margin: 0 auto;
	padding: 70px 0 30px;
}

.info .icon {
	color: #999;
}

.info .icon > i {
	font-size: 4.4em;
}

.info .info-title {
	margin: 30px 0 15px;
	color: #3c4858;
}

.info p {
	color: #999;
}

.info-horizontal .icon {
	float: left;
	margin-top: 24px;
	margin-right: 10px;
}

.info-horizontal .icon > i {
	font-size: 2.6em;
}

.info-horizontal .description {
	overflow: hidden;
}

.icon.icon-primary {
	color: #9c27b0;
}

.icon.icon-success {
	color: #4caf50;
}

.icon.icon-danger {
	color: #f44336;
}

.icon.icon-rose {
	color: #e91e63;
}

/*--------------------------------------------------------------
# Tables
--------------------------------------------------------------*/

table {
	width: 100%;
}

table > thead > tr > th {
	border-bottom-width: 1px;
	font-size: 1.25em;
	font-weight: 300;
}

table .radio,
table .checkbox {
	width: 15px;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

table .radio .icons,
table .checkbox .icons {
	position: relative;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
	padding: 12px 8px;
	vertical-align: middle;
}

table .th-description {
	max-width: 150px;
}

table .td-price {
	margin-top: 5px;
	font-size: 26px;
	font-weight: 300;
	text-align: right;
}

table .td-total {
	padding-top: 20px;
	font-size: 1.25em;
	font-weight: 500;
	text-align: right;
}

table .td-actions .btn {
	margin: 0;
	padding: 5px;
}

table > tbody > tr {
	position: relative;
}

.table-shopping > thead > tr > th {
	font-size: 0.9em;
	text-transform: uppercase;
}
.table-shopping > tbody > tr > td {
	font-size: 16px;
}
.table-shopping > tbody > tr > td b {
	display: block;
	margin-bottom: 5px;
}
.table-shopping .td-name {
	font-size: 1.5em;
	font-weight: 400;
}
.table-shopping .td-name small {
	color: #999;
	font-size: 0.75em;
	font-weight: 300;
}
.table-shopping .td-number {
	font-size: 1.3em;
	font-weight: 300;
}
.table-shopping .td-name {
	min-width: 200px;
}
.table-shopping .td-number {
	min-width: 70px;
	text-align: right;
}
.table-shopping .td-number small {
	margin-right: 3px;
}
.table-shopping .img-container {
	display: block;
	overflow: hidden;
	width: 120px;
	max-height: 160px;
}
.table-shopping .img-container img {
	width: 100%;
}

.btn-file {
	overflow: hidden;
	position: relative;
	vertical-align: middle;
}

.btn-file > input {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	opacity: 0;
	font-size: 23px;
	cursor: pointer;

	direction: ltr;
	filter: alpha(opacity=0);
}

.form-group.has-warning .fileinput .fileinput-preview {
	color: #ff9800;
}

.form-group.has-warning .fileinput .thumbnail {
	border-color: #ff9800;
}

.form-group.has-error .fileinput .fileinput-preview {
	color: #f44336;
}

.form-group.has-error .fileinput .thumbnail {
	border-color: #f44336;
}

.form-group.has-success .fileinput .fileinput-preview {
	color: #4caf50;
}

.form-group.has-success .fileinput .thumbnail {
	border-color: #4caf50;
}

.input-group-addon:not(:first-child) {
	border-left: 0;
}

.thumbnail {
	padding: 0;
	border: 0 none;
	border-radius: 0;
}

/*--------------------------------------------------------------
# Sections Styling
--------------------------------------------------------------*/
.section-gray {
	background: #e5e5e5;
}

.section {
	padding: 70px 0;
}

.section-navbars {
	padding-bottom: 0;
}

.section-dark,
.section-image {
	background: #232323;
	/* FF3.6+ */
	background: -webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,#585858),color-stop(100%,#232323));
	/* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center,ellipse cover,#585858 0%,#232323 100%);
	/* Chrome10+,Safari5.1+ */
	/* Opera 12+ */
	/* IE10+ */
	background: -webkit-radial-gradient(center ellipse,#585858 0%,#232323 100%);
	background: radial-gradient(ellipse at center,#585858 0%,#232323 100%);
	background-color: #343434;
	background-size: 200% 240%;
	/* W3C */
	background-size: 550% 450%;
}

.section-dark .title,
.section-dark .card-plain .card-title,
.section-dark .card-plain .icon i,
.section-image .title,
.section-image .card-plain .card-title,
.section-image .card-plain .icon i {
	color: #fff;
}

.section-dark .description,
.section-dark .card-plain .card-description,
.section-dark .card-plain .icon,
.section-image .description,
.section-image .card-plain .card-description,
.section-image .card-plain .icon {
	color: #eaeaea;
}

.section-dark .card-plain [class*="text-"],
.section-dark .card-plain ul li b,
.section-image .card-plain [class*="text-"],
.section-image .card-plain ul li b {
	color: #fff;
}

.section-dark .card-plain .category,
.section-image .card-plain .category {
	color: rgba(255,255,255,0.5);
}

.section-image {
	position: relative;
}

.section-image:after {
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	content: "";
}

.section-image .container {
	position: relative;
	z-index: 2;
}

.section,
.section-image {
	background-position: center center;
	background-size: cover;
}

.features,
.about,
.products,
.work,
.team,
.testimonials,
.blogs,
.subscribe-line,
.contactus {
	padding: 40px 0;
}

.pricing {
	padding: 100px 0 80px;
}




/*--------------------------------------------------------------
# Page Styling
--------------------------------------------------------------*/

.page-header {
	height: 90vh;
	margin: 0;
	padding: 0;
	border: 0;
	background-position: center center;
	background-size: cover;
}

.page-header .carousel .carousel-indicators {
	bottom: 60px;
}

.page-header .container {
	padding-top: 30vh;
	color: #fff;
}

.archive .page-header .title,
.blog .page-header .title,
.search .page-header .title {
	font-size: 2.6em;
}

.page-header .title,
.page-header .description,
.page-header .author,
.page-header .author a {
	color: #fff;
}

.page-header.header-small {
	height: 65vh;
}

.page-header.header-small .container {
	padding-top: 20vh;
}

.header-filter {
	position: relative;
}

.header-filter:before,
.header-filter:after {
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
}

.header-filter::before {
	background-color: rgba(0,0,0,0.5);
}

.header-filter .container {
	position: relative;
	z-index: 2;
}

.clear-filter:before {
	display: none;
}

.header .wrapper {
	background: #ccc;
}

.header .btn {
	margin: 0;
}

.header h6 {
	margin-bottom: 0;
}

.phone-container img {
	width: 100%;
}

.features {
	padding: 80px 0 50px;
	text-align: center;
}

.features .info p {
	font-size: 16px;
}

.features .info .info-title {
	font-size: 1.3em;
}

/*--------------------------------------------------------------
## Team Section
--------------------------------------------------------------*/
.team .card {
	text-align: left;
}

.team .card .footer {
	margin-top: 0;
}

.team h5.description {
	margin-bottom: 70px;
}

.team .footer a[href*="twitter.com"] {
	color: #55acee;
}
.team .footer a[href*="facebook.com"] {
	color: #3b5998;
}

.team .footer a[href*="google.com"] {
	color: #dd4b39;
}

.team .footer a[href*="linkedin.com"] {
	color: #0976b4;
}

.team .footer a[href*="pinterest.com"] {
	color: #cc2127;
}

.team .footer a[href*="youtube.com"] {
	color: #e52d27;
}

.team .footer a[href*="tumblr.com"] {
	color: #35465c;
}

.team .footer a[href*="github.com"] {
	color: #333;
}

.team .footer a[href*="behance.com"] {
	color: #1769ff;
}

.team .footer a[href*="dribbble.com"] {
	color: #ea4c89;
}

.team .footer a[href*="reddit.com"] {
	color: #ff4500;
}

/*--------------------------------------------------------------
## Subscribe Section
--------------------------------------------------------------*/
.subscribe-line {
    padding: 30px 0;
}

.subscribe-line .card {
    margin-top: 30px;
}

.subscribe-line.subscribe-line-image {
    position: relative;
    background-position: top center;
    background-size: cover;
}

.subscribe-line.subscribe-line-image .title {
    color: #fff;
}

.subscribe-line.subscribe-line-image:after {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.66);
    content: "";
}

.subscribe-line.subscribe-line-image .container {
    position: relative;
    z-index: 2;
}

.subscribe-line .card h5,
.subscribe-line .sib_loader {
    display: none !important;
}

.subscribe-line-white {
    background-color: #fff;
}

.subscribe-line-black {
    background: #232323;
    /* FF3.6+ */
    background: -webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,#585858),color-stop(100%,#232323));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center,ellipse cover,#585858 0%,#232323 100%);
    /* Chrome10+,Safari5.1+ */
    /* Opera 12+ */
    /* IE10+ */
    background: -webkit-radial-gradient(center ellipse,#585858 0%,#232323 100%);
    background: radial-gradient(ellipse at center,#585858 0%,#232323 100%);
    /* W3C */
    background-size: 550% 450%;
}

.subscribe-line-black [class*="col-"] {
    border-color: rgba(255,255,255,0.1);
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

footer {
	padding: 15px 0;
	text-align: center;
}

footer ul {
	margin-bottom: 0;
	padding: 0;
	list-style: none;
}

footer .footer-menu li {
	display: inline-block;
}

footer .footer-menu li a {
	padding: 15px;
}

footer ul li a {
	display: inline-block;
	position: relative;
	padding: 5px 0;
	border-radius: 3px;
	color: inherit;
	font-size: 12px;
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;
}

footer ul li a:hover {
	text-decoration: none;
}

footer ul li .btn {
	margin: 0;
}

footer ul.links-horizontal:first-child a {
	padding-left: 0;
}

footer ul.links-horizontal:last-child a {
	padding-right: 0;
}

footer ul.links-vertical li {
	display: block;
	margin-right: -5px;
	margin-left: -5px;
}

footer ul.links-vertical li a {
	padding: 5px;
}

footer .social-buttons a,
footer .social-buttons .btn {
	margin-top: 5px;
	margin-bottom: 5px;
}

footer .copyright {
	padding: 15px 0;
}

footer .pull-center {
	display: inline-block;
	float: none;
}

.footer-big {
	padding: 30px 0;
}

.footer-big .col-md-4 {
	padding: 0 30px;
}

.footer-big .content {
	text-align: left;
}

.footer-black {
	background: #232323;
	/* FF3.6+ */
	background: -webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,#585858),color-stop(100%,#232323));
	/* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center,ellipse cover,#585858 0%,#232323 100%);
	/* Chrome10+,Safari5.1+ */
	/* Opera 12+ */
	/* IE10+ */
	background: -webkit-radial-gradient(center ellipse,#585858 0%,#232323 100%);
	background: radial-gradient(ellipse at center,#585858 0%,#232323 100%);
	/* W3C */
	background-size: 550% 450%;
}

.footer-black a {
	opacity: 0.86;
	color: #fff;
}

.footer-black a:hover,
.footer-black a:focus {
	opacity: 1;
}

.footer-black .footer-brand {
	color: #fff;
}

.footer-black .footer-brand:hover,
.footer-black .footer-brand:focus {
	color: #fff;
}

.footer-black h5,
.footer-black h4,
.footer-black i,
.footer-black .copyright {
	color: #fff;
}

.footer-black hr {
	border-color: rgba(255,255,255,0.2);
}

/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Content
--------------------------------------------------------------*/
#authors-on-blog {
	padding: 80px 0;
}

#authors-on-blog .card-profile {
	text-align: left;
}

.main {
	position: relative;
	z-index: 3;
	background: rgb(232, 235, 245);
	padding: 0 14px;
}

.main-raised {

	/*-webkit-box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.2);
	box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.2);*/
}

.woocommerce.archive .main-raised,
.single .main-raised {
	margin: -60px 30px 30px;
}

.woocommerce.archive .main-raised {
	background-color: #e5e5e5;
}

.blog-post {
	word-wrap: break-word;
}

.blog-post .section-text {
	padding-bottom: 0;
}

.blog-post .section-text p {
	margin-bottom: 30px;
	color: #555;
	font-size: 1.2em;
	line-height: 1.8em;
}

.blog-post .section-blog-info {
	padding-top: 15px;
	padding-bottom: 0;
}

.blog-post .section-blog-info .entry-categories,
.blog-post .section-blog-info .entry-tags {
	word-break: break-all;
}

.blog-post .section-blog-info .entry-categories a {
	display: inline-block;
	padding: 2px 2px;
	color: #fff;
}

.blog-post .section-blog-info .entry-categories span,
.blog-post .section-blog-info .entry-tags span {
	display: inline-block;
	margin: 5px;
}

.blog-post .section-blog-info .card-profile {
	margin-top: 0;
	text-align: left;
}

.blog-post .section-blog-info .card-profile .description {
	font-size: 14px;
}

.blog-post .section-comments .title {
	margin-bottom: 30px;
}

.blog-post .section-comments .comment-respond .author {
	margin: 15px 20px 0 0;
}

.blog-post .section-comments .comment-respond .author img {
	border-radius: 100%;
}

.section-comments ul.children .comment-author.avatar,
.section-comments ul.children .avatar img {
	width: 40px;
	height: 40px;
}

.blog-post .media p {
	color: #555;
}

.alignleft .avatar {
    margin-right: 24px;
    margin-right: 2.4rem;
}

.alignright .avatar {
    margin-left: 24px;
    margin-left: 2.4rem;
}

article.sticky h2:before {
    content: "Featured: ";
}

img.centered,
.aligncenter {
    display: block;
    margin: 0 auto 24px;
    margin: 0 auto 2.4rem;
}

img.alignnone {
    margin-bottom: 12px;
    margin-bottom: 1.2rem;
}

.alignleft {
    float: left;
    text-align: left;
}

.alignright {
    float: right;
    text-align: right;
}

img.alignleft,
.wp-caption.alignleft {
    margin: 0 24px 24px 0;
    margin: 0 2.4rem 2.4rem 0;
}

img.alignright,
.wp-caption.alignright {
    margin: 0 0 24px 24px;
    margin: 0 0 2.4rem 2.4rem;
}

.wp-caption-text {
      
    text-align: center;
    background-color: black;
    color: white !important;
    opacity: 0.76;
    margin-top: -21px;
    width: 96.9%;
    font-size: 12px !important;
}

.gallery-caption {
    padding-top: 10px;
}

.searchform label {
    display: block;
}

.bypostauthor {
    display: block;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

/*--------------------------------------------------------------
## Sidebar
--------------------------------------------------------------*/

.single aside.blog-sidebar {
	padding: 40px 0;
}

.widget {
	margin-bottom: 30px;
}

.widget ul {
	padding: 0 0 0 10px;
	margin: 0;
	list-style: none;
}

.widget ul li {
	line-height: 2em;
	padding-top: 5px;
}

.widget ul li:first-child {
	padding-top: 0;
}

aside .widget a {
	color: #23527c;
	font-weight: 500;
}

.widget a:hover {
	color: #89229b;
}

.widget #searchform {
	margin-bottom: 0;
	padding-bottom: 0;
}

.widget h5 {
	font-family: "Roboto Slab","Times New Roman",serif;
	margin-bottom: 10px;
	font-size: 1.3em;
	font-weight: 700;
	line-height: 1.4em;
}

.widget select {
	width: 100%;
}


/*--------------------------------------------------------------
## Attachment Page
--------------------------------------------------------------*/
.attachment .main-raised .blog-post {
	padding-bottom: 130px;
}

.attachment .sizes {
	margin-top: 20px;
}


/*--------------------------------------------------------------
## YITH Magnifier
--------------------------------------------------------------*/
li.yith_magnifier_thumbnail {
	display: block;
	position: relative;
	padding: 0 10px;
}

li.yith_magnifier_thumbnail a img {
	border-radius: 6px;
}

li.yith_magnifier_thumbnail a {
	margin: 25px auto;
}

.yith_magnifier_zoom_magnifier {
	border: none !important;
}

.single-product.woocommerce .thumbnails #slider-prev,
.single-product.woocommerce .thumbnails #slider-next {
	top: 45% !important;
}

@-webkit-keyframes go-down {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	to {
		-webkit-transform: translateY(20px);
		transform: translateY(20px);
	}
}

@keyframes go-down {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	to {
		-webkit-transform: translateY(20px);
		transform: translateY(20px);
	}
}

.woocommerce-page .page-header .container {
    padding-top: 150px;
}

.woocommerce-page .title-row {
    margin-top: 20px;
}

/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
@media (max-width: 1199px) {
	.features .row,
	.about .row,
	.products .row,
	.work .row,
	.team .row,
	.pricing .row,
	.testimonials .row,
	section.blogs .row,
	.contactus .row {
		padding: 0 50px;
	}

	.carousel h2.title {
		font-size: 4.2em;
	}

	.navbar .navbar-brand {
		height: 50px;
		padding: 10px 15px;
	}

	.navbar .navbar-nav > li > a {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

@media (max-width: 991px) {
	.navbar .navbar-nav > li {
		margin-right: 10px;
		margin-left: 10px;
	}

	.page-header {
		height: auto;
		min-height: 100vh;
	}

    .card.card-raised .card-image {
        margin-top: -30px;
        display: block;
        margin-left: 0;
        margin-right: 0;
    }

    .card.card-raised {
        padding: 20px;
    }

	.woocommerce-checkout .page-header {
		min-height: 440px;
		height: auto;
	}

	.about .text-area {
		margin: 0 0 10px;
	}

	.blog .page-header.header-small h2 {
		margin: 0;
	}

	.blog .page-header.header-small .container {
		padding: 200px 15px;
	}

	.blog .page-header.header-small {
		height: auto;
		min-height: 0;
	}

	.page-header .iframe-container {
		padding: 30px 0;
	}

	.card-form-horizontal .form-group {
		padding-bottom: 20px;
	}

	.carousel .page-header {
		padding: 0 30px;
	}

	.carousel .buttons {
		margin-bottom: 100px;
	}

	.btn.btn-simple {
		padding-right: 0;
		padding-left: 0;
		text-align: left;
	}
	.work .col-md-6 .card-background .content,
	.work .col-md-4 .card-background .content {
		padding-top: 15%;
	}
	.alternative-blog-row {
		display: table;
		width: 100%;
		margin: 0 auto;
		table-layout: fixed;
	}
	.alternative-blog-row div:first-child {
		display: table-footer-group;
	}
	.alternative-blog-row div:last-child {
		display: table-header-group;
	}
	.features .row,
	.about .row,
	.products .row,
	.work .row,
	.team .row,
	.pricing .row,
	.testimonials .row,
	section.blogs .row,
	.contactus .row {
		padding: 0 25px;
	}

    .contactus .contact_submit_wrap {
        text-align: center;
    }

	.single aside.blog-sidebar {
		padding: 40px 30px;
	}


}

@media (min-width: 992px) {
	.navbar .navbar-collapse {
		text-align: center;
	}

    .blog-posts-wrap > article:nth-child(even) {
        padding: 20px;
    }

    .blog-posts-wrap > article:nth-child(odd) {
        padding: 20px;
    }

    .card.card-raised .card-image {
        margin-left: 0;
        margin-right: 0;
    }

	.navbar .navbar-center {
		display: inline-block;
		float: none;
	}

	.navbar .navbar-nav > li{
		margin: 0;
		
	}

	.navbar .navbar-nav > li.btn {
		margin: 0 10px;
	}

	.navbar .navbar-nav > li.btn:last-child {
		margin-right: 0;

	}

	.gallery .gallery-item {
		padding: 5px;
	}

	.gallery img {
		border: none !important;
		border-radius: 6px;
		-webkit-box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
		box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	}

	.entry-social {
		text-align: right;
	}

}

@media (min-width: 601px) {
	body.admin-bar .navbar-default:not(.navbar-transparent) {
		margin-top: 32px;
	}
}

@media (min-width: 768px) {
	.form-horizontal .control-label {
		padding-top: 8px;
	}

	.form-horizontal .form-group-lg .control-label {
		padding-top: 13px;
		font-size: 18px;
	}

	.form-horizontal .form-group-sm .control-label {
		padding-top: 4px;
		font-size: 11px;
	}

	.dropdown .dropdown-menu {
		display: block;
		visibility: hidden;
		margin-top: -20px;
		opacity: 0;
		-webkit-transition: all 150ms linear;
		transition: all 150ms linear;
	}

	.dropdown.open .dropdown-menu {
		visibility: visible;
		margin-top: 1px;
		opacity: 1;
	}

    .navbar-nav>li {
        float: none;
        display: inline-block;
    }

    .container>.navbar-header {
        display: table-cell !important;
        vertical-align: middle;
        float: none;
    }

    .navbar .navbar-collapse {
        display: table-cell !important;
        vertical-align: middle;
        text-align: right;
        width: 100%;
    }
}

@media (max-width: 767px) {
	.navbar.navbar-transparent .dropdown-menu li > a > i {
		color: #fff;
	}

	.navbar. .dropdown-menu li > a > i {
		color: #333;
	}


	.woocommerce.single-product .product,
	.single .section {
		padding: 30px 15px 0;
	}

	.woocommerce.single-product.single .section {
		padding: 0;
	}

	h1,
	.h1 {
		font-size: 3em;
	}

	.subscribe-line .btn {
		margin-top: 15px;
	}

	ul.children {
		padding-left: 5px;
		border-left: 1px #cfcfcf solid;
	}
	.blog-post .section-comments .comment-respond .author {
		display: none;
	}

	.carousel h2.title {
		font-size: 3em;
	}

	.page-header .container {
		padding-top: 25vh;
	}
	.about .text-area {
		margin-bottom: 20px;
	}

	.navbar .navbar-nav .navbar-text {
		margin-top: 15px;
		margin-bottom: 15px;
		color: inherit;
	}

	.navbar .navbar-nav .open .dropdown-menu > .dropdown-header {
		border: 0;
		color: inherit;
	}

	.navbar .navbar-nav .open .dropdown-menu .divider {
		border-bottom: 1px solid;
		opacity: 0.08;
	}

	.navbar .navbar-nav li > a {
		text-align: center;
	}

	.navbar-default .navbar-nav .open .dropdown-menu {
		background-color: #f3f3f3;
	}

	.navbar-transparent .navbar-nav .open .dropdown-menu {
		background-color: rgba(0, 0, 0, 0.5);
	}

	.navbar .navbar-nav .open .dropdown-menu > li > a {
		color: inherit;
	}

	.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar .navbar-nav .open .dropdown-menu > li > a:focus {
		color: inherit;
		background-color: transparent;
	}

	.navbar .navbar-nav .open .dropdown-menu > .active > a,
	.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: inherit;
		background-color: transparent;
	}

	.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
	.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
	.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
		color: inherit;
		background-color: transparent;
	}

	.footer .copyright {
		display: inline-block;
		float: none !important;
		width: 100%;
		padding: 10px 0;
		text-align: center;
	}

	.navbar.navbar-transparent {
		
		border-radius: 0;
		
	}

	.main-raised {
		margin-right: 10px;
		margin-left: 10px;
	}

/* Woocommerce */
	.woocommerce .page-header .container {
		padding-top: 60px;
	}

	.woocommerce ul.products li.product,
	.woocommerce ul.products li.product:nth-child(2n),
	.woocommerce-page ul.products li.product:nth-child(2n) {
		float: none;
		float: none;
		width: 100%;
		max-width: 370px;
		margin: 25px auto;
	}

	.woocommerce.archive .page-header {
		min-height: 200px;
	}

/*My Account Styling*/
	.woocommerce-account .woocommerce-MyAccount-navigation ul li {
		display: inline-block;
		min-width: 125px;
		border: none;
	}
	.woocommerce-account .woocommerce-MyAccount-navigation ul {
		display: table;
		width: 100%;
		margin: 0 0 25px;
		border: none;
	}
	.woocommerce .col2-set, .woocommerce-page .col2-set {
		width: auto;
		float: none;
		margin-right: 0;
	}
	#order_review, #order_review_heading {
		float: none;
		width: auto;
	}
}

@media (max-width: 480px) {
	/* Woocommerce */

	.woocommerce.archive .main-raised,
	.single .main-raised {
		margin: -60px 10px 30px;
	}

/*My Account Styling*/
	
}


















