/*
Theme Name: Vstarvibe
Theme URI: https://vstarvibe.com 
Description: Vstarvibe material theme 
Version: 1
Author: vacvi
Author URI: https://vacvi.com
*/


/*----MY STYLE---*/

#ent::-webkit-scrollbar
{
    width: 8px ;
    height: 8px;
}
#ent::-webkit-scrollbar-track
{
    -webkit-box-shadow:inset 0 0 6px rgba(33, 44, 63, 0.69);
}

.sharedaddy .sd-sharing-enabled, .zem_rp_wrap, .zem_rp_th_modern
{
    display: none !important
}

#recent h6
{
    font-weight: lighter;
    font-size: 12px;
    display: inline-block !important;
}

#recent .cat-icon {
    position: absolute;
    top: 0;
    margin-top: 120px;
    z-index: 2000;
    right: 0;
    padding: 8px;
    color: #fff;
    background-color: rgba(170, 47, 89, 0.89);
    font-size: 14px;
}

#recent .capitalize
{
    font-size: 15px !important;
}

.date
{
    font-size: 12px;
    font-weight: 400;
}

#recent .card-block
{
    height: 127px;
    background-color: #fcfcfc;
}

#recent .card-img-top

{
     border-radius: 0 !important;
}

#recent h6 a
{
    color: #0b850b !important;
}

.list-group .small
{
    font-size: 12px !important;
}

#recent .card
{
    border-radius: 0 !important;
    border-bottom: rebeccapurple solid 1px;
}

.container
{
    max-width: 96% !important;
}

.blog-post  .section-text p:nth-last-child(2), .blog-post  .section-text p:first-child
{
    display: none !important;
}

#ent::-webkit-scrollbar-thumb
{
    -webkit-box-shadow:inset 0 0 6px rgba(33, 44, 63, 0.69);
    border-radius:10px;
}

.blog-post img :firstchild
{
    border-radius: 14px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    box-shadow: rgb(85, 85, 85) 8px 2px 2px;
}
  

.bg-vstarvibe
{
	background-color: #1d2c48 ;
}

body.admin-bar .navbar-transparent {
        margin-top: 32px;
    }

.modal-open
{
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

.bg-white
{
    background-color: white;
}

.no-transform
{
    text-transform: none;

}

.comments-form-block
{
    background-color: #ccc;
    padding: 4px;
    border-radius: 4px;
}

.comments-form-block .no-transform
{
    background-color: white;
    padding: 4px;
}
.btn-category
{
	position: absolute;
    background-color: #8e2a3d;
    padding: 3px;
    border-radius: 4px;
    color: white !important;
    margin-top: -70px;
    font-size: 12px;
    font-weight: 300;
}

.btn-category:hover
{
	position: absolute;
    background-color: transparent !important ;
    border:solid 2px #8e2a3d ;
   
}

.author
{
    margin-bottom: -30px;
    margin-top: -9px;
}

.comments-form-block .media-area
{
    max-height: 400px;
    overflow-y: scroll;
}

.comment-reply-link
{
    font-size: 12px;
}

.author img
{
    border-radius: 50% !important;
    border: solid 0px white !important;
    padding: 0 !important
}


.margin-ten-right
{
    margin-right: 15px;
}
.btn-submit
{
    text-transform: capitalize !important;
    background-color: rgb(52, 63, 79) !important;
    padding: 5px !important;
    margin-right: -5px !important;
    width: 30%;
    margin-top: -20px;
}

.side-widget{
     margin-top: 30px; 
     padding: 10px;
}

.capitalize
{
    text-transform: capitalize;
}

.hm-stylish-slight .mask,
.hm-stylish-slight .full-bg-img {
  background-color: rgba(62, 69, 81, 0.1);
}

.hm-white-slight .mask,
.hm-white-slight .full-bg-img {
  background-color: rgba(255, 255, 255, 0.1);
}

.red-text
{
    color:red;
}

.display-inline
{
    display: inline-block;
}

.cat-list-group-head
{
    padding: 2px;
    text-align: center !important;
    font-size: 15px;
    color: black !important;
    font-weight: 400;
}



.hd-sport
{
    border-top: solid #044236 !important;
    border-right: solid #044236 1px;
}

.hd-vstarvibe
{
    border-top:solid #fff !important;
    border-right: solid #fff 1px;
    background-color: #a3214d;
}

.nav-line
{
    border-bottom: solid 2px #1d2c48;
   
}

.top-add
{
    margin-top: 120px;
}

.height-nav
{
     height: 60px;
     transition: all 0.2s linear;

}

/*---Background==*/

.bg-silver
{
    background-color: #f6f4f4;
}

.bg-green
{
    background-color: #4caf50
}



.btn-category a
{
	color: white
}

.share-icon
{
	
    position: absolute;
    top: 0;
    margin-top: -20px;
    margin-right: 30px;
    right: 0;
    padding: 12px 12px;
    color: white;
    font-size: 23px;
    
}

.white-text
{
	color: white !important
}

.share
{
    color:black;
    font-size: 14px;
}
.share i
{
    width: 20px;
    height: 20px;
}

.share:hover
{
  color: #d41414;
}

.popover-content ul{
    list-style-type: none;
    margin-left: -32px;
    margin-bottom:0;
}
.popover-content ul li{
    border-bottom: solid 1px rgba(128, 128, 128, 0.31);
}

.full-bg-img {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.black-light .full-bg-img {
    background-color: rgba(0, 0, 0, 0.3);
}



.bg-blog-list
{
	background-color: #19223f
}

.blog-list:hover
{
	
    height: 201px !important;
}



.blog-list
{
	max-width: 100%;
	height: 200px !important;
}

.blog-list-cat:hover
{
    
    height: 201px !important;
}



.blog-list-cat
{
    width: 100%;
    height: 200px !important;
}


.slider-img
{
    height: auto;
}

.slider-caption
{
  
    font-size: 19px;
    color: #fff !important;
    font-weight: bold;
    text-transform: capitalize;

}

.font-vstarvibe
{
    font-family: 'Vidaloka', serif;
}

.widget-ad {
    float: left;
    line-height: 0;
    text-align: center;
    width: 100%;
}

h4.ad-header {
    clear: both;
    color: #2a2a2a;
    float: left;
    font: 300 8px/8px 'Raleway', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.slider-section
{
    margin-top: 79px;
    margin-left: 40px;
    margin-bottom: 5px;
    margin-right: 30px;
}

.slider-section .dropdown-item
{
    padding: 0 !important;
}



.img-nodither
{
    background-position: top center !important;
    background-size: cover !important;
    position: relative;
    overflow: hidden;
}

.center-col
{
    float:  none !important;
    margin-left: auto !important;
    margin-right: auto !important
}

.carousel-fade .carousel-inner .carousel-item {
    opacity: 0;
    transition-property: opacity;
}

.z-depth-2 {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

.view {
    overflow: hidden;
    position: relative;
    cursor: default;
}

.hm-black-light .full-bg-img, .hm-black-light .mask {
    background-color: rgba(0,0,0,.3);
}

.carousel-fade .carousel-inner>.carousel-item.active, .carousel-fade .carousel-inner>.carousel-item.next.left, .carousel-fade .carousel-inner>.carousel-item.prev.right {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}



.nav-ul
{
    margin-right: 100px;
    margin-top: -20px;
}


.tile-title {
    position: absolute;
    margin-top: -50px;
    color: #1d2c48 !important;
    font-size: 13px;
    padding: 3px;
    width: 100%;
    opacity: 1;
    background-color: #e8ebf5;
}

.pointer
{
    cursor: pointer;
}


.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
}

.waves-effect, a
{
    -webkit-tap-highlight-color: transparent;
}

.tile-widget
{
    border: solid 2px #333;
    padding: 3px;
   
}

.tile-item
{
    height: 163px;
    border-radius: 4px;
    border: solid 3px #333;
    padding: 3px;
    width: 100%;
}

.hm-zoom img {
  transition: all 0.2s linear;
}

.view:not(.hm-zoom) {
    overflow: visible;
}

.z-depth-1-half, .media img, .tooltip .tooltip-inner, .section img, .section .view, .btn:hover, .btn-secondary.active, .btn-secondary.dropdown-toggle, .btn-primary.active, .btn-default.active, .btn-success.active, .btn-info.active, .btn-warning.active, .btn-danger.active, .pager li a:hover, .btn-elegant.active, .btn-unique.active, .btn-pink.active, .btn-purple.active, .btn-deep-purple.active, .btn-indigo.active, .btn-cyan.active, .btn-light-green.active, .btn-dark-green.active, .btn-lime.active, .btn-yellow.active, .btn-amber.active, .btn-orange.active, .btn-deep-orange.active, .btn-brown.active, .btn-blue-grey.active, .btn-mdb.active, ul.instagram-photos li img, .md-pills .nav-item .nav-link.active, .inline-ul-img li img, .btn-floating:hover, .colorful-select .dropdown-content li.active span, .side-modal .modal-dialog, .picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected, .btn-floating.btn-flat.active, .comments-list .tag, .reply-form .tag, .pricing-card .header, .card .form-header, .sidebar-heading, .widget-content .widget-tabs
{
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.hm-white-slight .mask,
.hm-white-slight .full-bg-img {
  background-color: rgba(255, 255, 255, 0.1);
}

.hm-zoom:hover img {
  transform: scale(1.1);
}

.hm-zoom:hover .mask {
  opacity: 1;
}


/*---second row blog section---*/

.images-list .vertical-img {
    border-width: 0 1px 0 0;
    width: 290px;
    
}
.images-list a {
    border: 1px solid #f2f2f2;
}


/*---Recent section---*/

.recent-header
{
    background: #1d2c48;
    padding: 5px 10px 5px 24px;
    font-size: 0.9em;
    text-transform: uppercase;
    margin-bottom: 10px;
    position: relative;
    font-weight: 700;
    display: block;
    color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
   
}

.b-lazy .blurry
{
background-position: top center !important;
background-size: cover !important;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
background: #ccc;
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-ms-transform: scale(1.1);
-o-transform: scale(1.1);
transform: scale(1.1);
-webkit-filter: blur(8px);
filter: blur(8px);
opacity: 0;
}

.recent-sections_image:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 62.5%;
}

.recent-sections_image:after {
    background-color: transparent;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.margin-top-bottom-twenty
{
    margin: 20px 0;
}

.padding-eight
{
    padding: 8px;
}

.title-box {
    font-weight: 400;
    word-wrap: break-word;
    text-transform: capitalize;
}

.card .content {
    height: 120px;
}

/*Nav bar---*/


.search-form
{
    margin-left: 180px !important;
    margin-top: 0;
    margin-bottom: 0;
}

.search-button
{
    position: absolute;
    top: 3px;
    padding: 3px;
    background: transparent;
    border: none;
    left: 230px;
    color: #a8abad;
    font-weight: 100;
}

.search-input
{
    border-radius: 2px !important;
    opacity: 0.98 !important;
    border: solid 1px !important;
    color: #e8ebf5;
    padding-left: 5px;
    width: 260px !important;
}
.search-form:focus
{
    border:none !important;
}

#s{
   background:none !important;
}




/*----footer--*/

.footer-vstarvibe
{
    margin-top: 15px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px 0;
}


/*--single content */

.single-title
{
    color: #232323;
    font-size: 20px;
    text-transform: capitalize;
    font-family: 'Vidaloka', serif;
    margin-top: 15px;
}

/*----Styles overide--*/

.blogs{
    padding: 0;
}

.margin-zero
{
    margin:0 !important;
}
.right-block-gist
{
    margin-top: 45px;
    margin-left: -61px;
     width: 275px;
}
   

.padding-zero
{
    padding: 0 !important
}

footer .copyright {
    padding:  0; 
}

footer ul li a
{
    text-transform: capitalize !important;
}

a{
    color: red;
}

.entry-social {
    text-align: left;
}

blockquote {
  font-style: italic;
  padding-left: 2rem;
  border-left: 1px solid green;
  }
  blockquote q,
  blockquote p {
    font: inherit;
    margin: 0 0 0.5rem;
    }
  blockquote cite {
    display: block;
    font-size: 80%;
    }

   /* .author-box
    {
        margin-left: auto;
        margin-right: auto;
        float: none;

    }*/

    .text-center
    {
        text-align: center;
    }

    .text-black
    {
        color: black !important;
    }

    .btn-just-icon{
        background-color: #232323 !important;
        padding: 5px;
    }

    .btn-just-icon i
    {
        font-size: 12px !important;
        margin-right: 3px;
    }

   
   .archive-header
   {
        height: 100px;
        padding: 10px;
   }
  
   .archive-header .title
   {
    font-family: 'Vidaloka', serif;
    font-size: 20px !important;
    color: #071022;
    font-weight: bolder;
    margin-top: 50px
   }

   .archive-adjust
   {
    padding: 30px;
   }

   .header .container-fluid {
    padding-right: 0;
     padding-left: 0;
   
}

   




/*----Social connect--*/

span.sidebar-widget-header {
    background: url(assets/bg-striped.png);
    float: left;
    margin-bottom: 10px;
    width: 100%;
    margin-top: 70px;
    height: 32px;

}

h3.sidebar-widget-header {
    background: #ccc;
    float: left;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 5px;
    line-height: 100%;
    padding: 5px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    margin-top: 3px;
}


.social-connect 
{
    list-style-type: none;
    /*margin-left: 43px;*/
}

.social-connect li
{
    float: left;
    margin-right: 10px;
}

.explanation
{
    display: none !important;
}



.social-connect i
{
    position: relative;
    padding: 13px 15px 20px 15px;
    text-align: center;
    white-space: nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
    vertical-align: middle;
    margin: 0;
    font-size: 16px !important;
    border-radius: 50%;
}

.social-connect i:hover
{
    background-color: transparent !important;
    color: black !important;
    border:solid black 2px;
}



.btn-google {
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0,0,0,0.2);
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
  
}

.btn-twitter {
    color: #fff;
    background-color: #55acee;
    border-color: rgba(0,0,0,0.2);
}


.btn-instagram {
    color: #fff;
    background-color: #3f729b;
    border-color: rgba(0,0,0,0.2);
}

.no-dither
{
    background-size: cover;
    background-position:  center top  !important;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;


}

.no-dither:before
{
    display: block;
    content: "";
    width: 100%;
    padding-top: 66.5%;
    
}

.no-dither:after
{
    background-color: transparent;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.home .account-drop
{
    float: right !important;
    margin-right: 10px ;
    margin-top: -45px ;
    width: 34px;
}

.account-drop .dropdown-menu
{
    left: -40px;
    margin-top: 9px !important;
    background-color: rgb(29, 44, 72);
    border-top-left-radius: 0px !important;
    border-bottom: solid 2px #e91e63;
}

img.alignnone
{
    margin: 0 !important;
}

.account-drop a
{
   color:  rgba(0,0,0,0.56)
}

.wp-user-avatar
{
    border-radius: 3px;
    border: solid 1px;
    padding: 1px;
}

.account-drop .dropdown-item
{
    padding: 7px 20px;
    color: white !important;
}

 .account-drop  {
    float: right !important;
    margin-right: 10px;
    margin-top: -50px;
    width: 34px;
}




/*---Top member--*/


    .trending-member
    {
        margin-top: 40px;
    }

    .trending-member h5
    {
        text-align: center;
        border-top: solid 1px;
        border-bottom: solid 1px;
        background-color: white;
        padding: 5px;
        margin-bottom: px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }
    .trending-member-details
    {
        position: absolute;
        background-color: white;
        padding: 10px 10px;
        margin-top: -25px;
        margin-left: 90px;
        opacity: 0.8;
  
    }

    .trending-member-details a
    {
        color: #06714d !important;
    }

    .box-shadow
    {

        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    }

    .overlay .mask
    {
        opacity: 0;
        transition: all 0.4s ease-in-out;
    }   

    .view .mask, .view .content
    {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
    }

    .overlay:hover .mask {
    opacity: 1;
    }

    .hm-white-slight .mask, .hm-white-slight .full-bg-img 
    {
        background-color: rgba(255, 255, 255, 0.1);
    }


   
/*-----WAVES EFFECT---*/

.waves-effect {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  z-index: 1;
}

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  background: -webkit-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: -o-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: -moz-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transform: scale(0) translate(0, 0);
  -moz-transform: scale(0) translate(0, 0);
  -ms-transform: scale(0) translate(0, 0);
  -o-transform: scale(0) translate(0, 0);
  transform: scale(0) translate(0, 0);
  pointer-events: none;
}

.waves-effect.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
  background: -webkit-radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: -o-radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: -moz-radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
}

.waves-effect.waves-classic .waves-ripple {
  background: rgba(0, 0, 0, 0.2);
}

.waves-effect.waves-classic.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
}

.waves-notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.waves-button,
.waves-circle {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.waves-button,
.waves-button:hover,
.waves-button:visited,
.waves-button-input {
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  outline: none;
  color: inherit;
  background-color: transparent;
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  z-index: 1;
}

.waves-button {
  padding: 0.85em 1.1em;
  border-radius: 0.2em;
}

.waves-button-input {
  margin: 0;
  padding: 0.85em 1.1em;
}

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom;
}

.waves-input-wrapper.waves-button {
  padding: 0;
}

.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
}

.waves-float {
  -webkit-mask-image: none;
  -webkit-box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}

.waves-float:active {
  -webkit-box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
}

.waves-block {
  display: block;
}

.widget-tabs {
    padding: 3px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 1.7rem;
    margin-top: -1.7rem;
    font-size: 13px;
    word-wrap: break-word;
}

.pagination-icons
{
    margin-right: 35px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.navbar .navbar-brand {
    max-width: 30%;
}


/*---[/WAVES EFFECR]---*/

 /*--POPULAR POST---*/

    .sidebar-heading
    {
    padding: 0.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: -1.7rem;
    margin-bottom: 1.7rem;
    }
      
    .widget-content .single-post .post-data 
    {
        font-weight: bold;
        color: #616161  !important;
        margin-bottom: 1.4rem;
        padding: 2px;
    }

     .widget-content .single-post .post-data a 
    {
        font-size: 12px;
    }

    a:not([href]):not([tabindex]) {
    color: inherit !important;
    text-decoration: none !important;
}

    .widget-content .single-post span {
    margin-top: 1.5rem;
    font-weight: 400;
    color: #424242;
    text-transform: capitalize;
    display: block;

    }

    .widget-content .single-post {
    border-bottom: 1px solid #e0e0e0;
     margin-bottom: 15px;
  
    }


    .picturepop-caption
    {
        position: absolute;
        padding: 8px;
        margin-top: -10px;
        background-color: white;
        color: #1d2c48;
        font-size: 12px;
        width: 100%;
        vertical-align: middle;
        text-align: center;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

    }

.btn-close
{
    color: white;
    font-size: 18px;
    background: transparent;
    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    position: relative;
    cursor: pointer;
    border: none;
    float: right;
    margin-right: -35px;
}

.modal-pic
{
    margin-top: 100px;
    position: relative;
    vertical-align: middle;
    min-width: 500px;
    background-color: #fff;
    border-radius: 7px;
}

 .picturesingle a
{
    color: #1d2c48;
    float: right;
    margin-right: 25px;
    position: relative;
    cursor: pointer;
}



.pics li
{
   border-bottom: none !important;
}

.pics li .share
{
    color:#1d2c48;
}

.pics li:hover
{
    margin-left: 2px; 
}


.popover-title {
    padding: 6px;
    text-align: center;
    font-size: 0.88rem;
   }

.Gallery-media {
    background-color: rgba(0, 0, 0, 0.89);
    border-radius: 6px 6px 0 0;
    line-height: 0;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.Gallery-media img
{
    display: inline-block;
    vertical-align: middle;
}

.logout a
{
    padding: 7px 20px !important;
    color: white !important
}

.pagination > li > span.current, .pagination > li > span.current:focus, .pagination > li > span.current:hover {

    border-color: #e91e63;
    background-color: #e91e63;


}
#loader
{
    position: absolute;
    top: 255px;
    z-index: 200;
    left: 450px;
}


.blurbg
{
    filter: blur(4px) !important;
}



.hidden
{
    display: none;
}

 .pagination li
 {
        float: left;
 }

 .navbar-brand
 {
    
    margin-top: -17px;
 }

 .left-block
 {

    height: 362px;
    margin-top: 0px;
 }

 .cat-menu
 {
    float: left;
    width: 100%;
    padding-top: 6px;
    margin-left: 12px;
    margin-bottom: 15px;
    list-style-type: none;
    overflow-y: auto;
    height: 350px;
    padding: 3px;
 }



 .right-block
 {
    margin-left: -50px;
    margin-top: -6px;
 }

 .divider-new {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    margin-bottom: 25px;
}

.divider-new::after {
    content: '';
    height: 1.5px;
    background: #666;
    flex: 1;
    margin: 0 0 0 .45em;
}



.divider-new::before {
    content: '';
    height: 1.5px;
    background: #666;
    flex: 1;
    margin: 0 .45em 0 0;
}

.width-80
{
    width: 80%;
}

 .cat-item
 {
    position: relative;
    border-bottom: 1px solid rgba(204, 204, 204, 0.44);
    padding: 2px 0;
 }

 .cat-item::before
 {
    content: '';
    display: block;
    width: 4px;
    height: 100%;
    background: #ccc;
    position: absolute;
    left: -22px;
    top: 7px;
 }


.cat-listtitle
{
    width: 80%;
    vertical-align: middle;
    font-size: 13px;
}

 .cat-item-title
 {
    font-size: 13px;
    font-weight: 600;
    float: right;
    width: 70%;
    text-transform: capitalize;
    color: rgba(27, 32, 41, 0.88)!important;
    margin-top: -16px;

 }

 .cat-menu .cat-list:first-child {
    border-top: none !important;
}

.cat-list
{
     border-bottom: 1px solid #ccc;
    float: left;
    width: 100%;
    padding-top: 6px;
    padding-left: 30px;
    margin-bottom: 15px;
    list-style-type: none;
    overflow-y: auto;
    height: 350px;
}

.cat-menu .cat-indicator
{
    top: -7px;
    left: -28px;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border: 3px solid #ccc;
    border-radius: 50%;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
}

.cat-small-image
{
   width: 60px;
    border-radius: 3px;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.43) 2px 2px 1px;
}

.card-blog .card-title {
    
    font-size: 16px !important;
    font-weight: 500 !important;
    font-family: inherit !important;
}

.cat-date
{
    font-size: 12px;
    color: #888;
    background: transparent;
    padding-right: 15px;
}

.cat-big-image
{
    margin-bottom: 8px;
    box-shadow: rgba(0, 0, 0, 0.431373) 2px 2px 1px;
    width: 90%;
    border-radius: 3px;
}


/*--responsive img styles--*/

#recent .attachment-medium
{
    height: 170px !important;
    
}

.attachment-medium
{
    height: 200px !important;
}

.attachment-cat-small-image {
    width: 60px;
    border-radius: 3px;
    height: 60px;
    box-shadow: 2px 2px 1px rgba(0,0,0,.43);
}





/*--RESPONSIVENESS---*/

@media (min-width: 768px)
{

    .slider-img
    {
        height: 358px;
        width: 100%
    }

    .blog-post .side-widget
    {
        margin-top: -73px; 
    }

   

    .home .nav-ul
    {
    margin-right: 100px;
    margin-top: -3px;
    }

    .side-widget{
     margin-top: 40px; 
     padding: 30px;
    }

    .single-title
    {
        font-size: 40px;
    }

    .top-add 
    {
    margin-top: 120px;
    margin-left: 140px;
    }

    /*  .author-box
    {
        margin-left: 200px;
    }*/

    .archive-adjust
   {
        padding: 25px;
   }

   .partial-curve
   {
        border-top-left-radius: 8px;
        border-bottom-right-radius: 8px
   }



}

@media (max-width: 768px)
{
    .main 
    {
        padding: 0;
    }

    .modal-pic
    {
        width: auto;
         min-width: 200px
    }

    .Gallery-media {
        width: 100%;
    }


    .btn-close
    {
        margin-right: -2px;
        margin-top: -35px;
    }

  
    .slider-caption {
    font-size: 15px;
    text-transform: capitalize;
    }

    .cat .left-block {
    height: auto !important;
  
    }

    .main-raised a
    {
        cursor: pointer !important;
    }

    .right-block-gist {

    width: 100%;
    margin-left: -35px;
    }
    .cat-big-image
    {
        width: 100%;
    }

    .navbar-brand
    {
    
    margin-top: -5px;
    }

    #recent .col-lg-3
    {
        margin-bottom: 30px
    }

    .main-raised
     {
     margin-right:0;
     margin-left: 0;
    
    }

    .navbar .navbar-nav li > a {
        color: white !important;
    }

    .navbar .navbar-collapse
    {
        position: fixed;
        width: 230px;
        right: 0;
        z-index: 99;
        height: 100%
    }

    

    .nav-ul
    {
        background: rgba(29, 44, 73, 0.95);
        margin-top: -17px;
        z-index: -20;
        margin-right: 0;
        padding: 5px;
        border-bottom: solid 2px #e91e63;
    }

    .slider-section
    {
        margin-left: 7px;
        margin-bottom: 5px;
        margin-right: 7px;
    }

    .blogs .col-lg-4
    {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .blogs article
    {
        margin-bottom: 12px;
    }

    .blogs .container
    {
      
        padding-right: 0; 
        padding-left: 0; 
        max-width: 100% !important 
   
    }
    .blogs .colm
    { 
            padding: 5px !important
    }

    .navbar.navbar-transparent li.active a {
    border-bottom: none !important;
    }
}

@media (max-width: 544px)
{
    .carousel-control .icon-prev {
    margin-left: 15px !important;
    }

    .search-input
    {
       width: 80% !important; 
    }
    .search-form {
    margin-left: 110px !important;    
    }
}

@media (min-width: 544px)
{
    .modal-dialog 
    {
        width: 500px;
    }
}
