.jp-gui {
	position:relative;
	padding:20px;
	width: 118%;
	height: 130px;
	margin-left: -100px; 
	background-color: #1a1a1c !important;
}
.jp-gui.jp-no-volume {
	width:432px;
}
.jp-white
{
  color: #f5f4f4 !important;
}

.jp-adgold
{
  color: #65432a !important;
}
.jp-gui ul {
	margin:0;
	padding:0;
}
.jp-gui ul li {
	position:relative;
	float:left;
	list-style:none;
	margin:2px;
	padding:4px 0;
	cursor:pointer;
}
.jp-gui ul li a {
	margin:0 4px;
}
.jp-gui li.jp-repeat,
.jp-gui li.jp-repeat-off {
	margin-left:344px;
}
.jp-gui li.jp-mute,
.jp-gui li.jp-unmute {
	margin-left:20px;
}
.jp-gui li.jp-volume-max {
	margin-left:120px;
}

.jp-progress-slider {
	position:absolute;
	top:58px;
	left:100px;
	width:300px;
}
.jp-progress-slider .ui-slider-handle {
	cursor:pointer;
}
.jp-control
{
	margin-left:20px;
}

.jp-control-button
{
  margin-right: 20px !important;
  padding: 2px 14px !important;
  border-radius: 3px;
}

.jp-volume-slider {
	position:absolute;
	top:31px;
	left:508px;
	width:100px;
	height:.4em;
}
.jp-volume-slider .ui-slider-handle {
	height:.8em;
	width:.8em;
	cursor:pointer;
}

.margin-half-bottom
{

  margin-bottom:0.7% !important;
}

.jp-gui.jp-no-volume .jp-volume-slider {
	display:none;
}
.jp-current-time,
.jp-duration {
	position:absolute;
	top:69px;
	font-size:0.8em;
	cursor:default;
	color:white ;
}
.jp-current-time {
	left:100px;
}
.jp-duration {
	right:45px;
}
.jp-gui.jp-no-volume .jp-duration {
	right:70px;
}
.jp-clearboth {
	clear:both;
}

.jp-albumart
{
    margin: auto;
    width: 100px;
    top: -15px;
    height: auto;
    padding: 3px;
    border: 1px solid #65432a;
    position: relative;
    border-radius: 5px;
}

.albumart
{
    margin: auto;
    width: 100px;
    top: -5px;
    height: auto;
    padding: 3px;
    border: 1px solid #65432a;
    position: relative;
    border-radius: 5px;
}


/*RESPONSIVENESS*/

@media (min-width: 1210px)
{
	.jp-gui {
		margin-left: -97px; 
	}
}
@media (max-width: 991px)
{
	.jp-gui 
	{
		position:relative;
		padding:20px;
		width:640px;
		height: 130px;
		margin-left: -5px;
	
	}

	.jp-progress-slider 
	{
		position:absolute;
		top:58px;
		left:160px;
		width:300px;
	}

	.jp-control
	{
		margin-left:212px;
	}

	.jp-current-time 
	{
	left:155px;
	}

	.jp-duration 
	{
		right:100px;
	}

}

@media (max-width: 700px)
{
	.jp-gui 
	{
		position:relative;
		padding:20px;
		width:520px;
		height: 130px;
	
	}
	.jp-albumart
	{
		top: -1px !important;
		width: 80px;
	}

	.jp-progress-slider 
	{
		position:absolute;
		top:58px;
		left:160px;
		width:300px;
	}

	.jp-control
	{
		margin-left:212px;
	}

	.jp-current-time 
	{
	left:155px;
	}

	.jp-duration 
	{
		right:10px;
	}

}


@media (max-width: 575px)
{
	.jp-gui 
	{
		position:relative;
		padding:10px;
		width:420px;
		height: 130px;
	
	}

	.albumart
	{
	    margin: auto;
	    width: 100px;
	    top: 0px;
	    height: auto;
	    padding: 2px;
	    border: 1px solid #65432a;
	    position: relative;
	    border-radius: 5px;
	}

	.jp-progress-slider 
	{
		position:absolute;
		top:58px;
		left:120px;
		width:200px;
	}

	.jp-control
	{
		margin-left:180px;
		margin-top:3px; 
	}

	.jp-control-button
	{
	  margin-right: 0px !important;
	  padding: 0px 0px !important;
	}

	.jp-current-time 
	{
		left:120px;
	}

	.jp-duration 
	{
		right:50px;
	}

}


@media (max-width: 500px)
{
	.jp-gui 
	{
	position:relative;
	padding:10px;
	width: 100%;
	height: 130px;
	
	}

	

	.jp-progress-slider 
	{
	position:absolute;
	top:58px;
	left:120px;
	width:200px;
	}

	.jp-control
	{
		margin-left:160px;
		margin-top:36px; 
	}

	.jp-control-button
	{
	  margin-right: 0px !important;
	  padding: 0px 0px !important;
	}

	.jp-current-time 
	{
	left:120px;
	}

	.jp-duration 
	{
		right:-10px;
	}


}




@media (max-width: 410px)
{
	.jp-gui 
	{
	position:relative;
	padding:10px;
	width: 116%;
	height: 130px;
	margin-left: -36px !important;

	}

	

	.jp-progress-slider 
	{
	position:absolute;
	top:58px;
	left:120px;
	width:104px;
	}

	.jp-control
	{
		margin-left:140px;
		margin-top:40px ;
	}

	.jp-control-button
	{
	  margin-right: 0px !important;
	  padding: 0px 0px !important;
	}

	.jp-current-time 
	{
	left:120px;
	}

	.jp-duration 
	{
		right:-10px;
	}

}
