﻿/*===== Animate State Transitions =====*/
[ui-view].ng-enter, [ui-view].ng-leave {
    position: absolute;
    left: 0;
    right: 0;
}

[ui-view].ng-enter {
    -o-transition: opacity .5s ease .2s;
    -moz-transition: opacity .5s ease .2s;
    -webkit-transition: opacity .5s ease .2s;
    transition: opacity .5s ease .2s;
    opacity: 0;
}

[ui-view].ng-enter-active {
    opacity: 1;
}

[ui-view].ng-leave {
    -o-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -webkit-transition: opacity .5s ease;
    transition:opacity .5s ease;
    opacity: 1;
}

[ui-view].ng-leave-active {
    opacity: 0;
}


/*===== Animate ng-Show and ng-Hide =====*/
/*ng-hide-add is when hiding the element*/
.ng-hide-add, .ng-hide-remove{
    position: absolute;
    left: 0;
    right: 0;
}
.remain.ng-hide-add{
    position: initial;
    left: initial;
    right: initial;
}
.ng-hide-add {
    -o-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -webkit-transition: opacity .5s ease;
    transition:opacity .5s ease;
    opacity:1;
}

.ng-hide-remove {
    -o-transition: opacity .5s ease .3s;
    -moz-transition: opacity .5s ease .3s;
    -webkit-transition: opacity .5s ease .3s;
    transition:opacity .5s ease .3s;
    opacity:0;
}

.ng-hide-remove {
    opacity:0;
}

.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
}