.logo
{
	width: 100px;
}
.content .col-md-4
{
	border-radius: 3px;
	background-color: #fcfcfc;
	padding: 20px;
	margin-top: 80px;
	display: block;
}

.nav
{
	background-color: #1e313e;
	min-height: 50px;
}

.content .btn
{
	border-radius: 3px;
width: 100%;
padding: 5px;
background-color: #1e313e;
color:white;
margin-top: 0 !important;
}

.avatar
{
	width: 90px;
	border-radius: 50%;
}



.content .form-group {
	margin-bottom: 15px;
	text-align: center;
}
.content input
{
	border-radius: 3px;
	height: 35px;
	border-radius: 3px;
	text-align: center;
}

.center-col
{
	float: none !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.content form
{
	margin-top: 10px;
}
.red
{
	color: red
}
body
{
	background-color: #dddddd;
}
