/****************************************************
        media css
*****************************************************/

@media (max-width: 1383px) {
    /*  navigation  */
    .sub-menu ul { right: -25px; z-index: 99; }
    .search-form {width:80%}

   
}
@media only screen and (min-width: 991px) and (max-width: 1200px) {
    .md-display-block { display: block !important}
}
@media only screen and (min-width: 1024px) and (max-width: 1920px) {
    .md-no-margin-bottom { margin-bottom: 0 !important}
}
@media (min-width: 992px) and (max-width: 1199px) {
    
    
    /* heading */
    .subheader { padding: 0 15px; }
    

}
@media (max-width: 1199px) {
    /*  custom   */
    .lg-margin-bottom-five { margin-bottom: 5% !important; }

    

    /*  header right */
    .search-cart-header > #top-search > .subtitle { display: none;}

    

    /* footer */
    footer ul.list-inline li:first-child { padding-left: 5px;}
    .list-inline li { padding: 0 17px; }


    
    
    /* menu */
    .nav > li { margin-right: 17px; margin-left: 17px}
    
    /* icon tab */
    .nav-tabs > li { margin-left: 0; margin-right: 0;}
}
@media (max-width: 1064px) {
    /*  parallax  */
    .parallax-fix{ background-attachment: scroll !important; }


}
/******* Only for iPad Css *******/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* for general iPad layouts */
    .navbar-nav > li > a { border-color: transparent !important; }
    .navbar-nav > li > a.active { border-color: black !important;  }
}
@media (max-width: 1024px) {
    /*  navigation position  */
    .navbar-right .dropdown-menu { right: -147px; }

    /*  text rotator  */
    .cd-headline.slide .cd-words-wrapper { width: 100% !important; }

    .timeline-number { padding: 35%; }
    .md-display-none { display: none !important}
    .fix-background { background-attachment:inherit !important}
    

}
@media (max-width: 991px) {
    /*  navigation panel  */
    nav .accordion-menu * { transition-duration: 0s; -moz-transition-duration: 0s; -webkit-transition-duration: 0s; -o-transition-duration: 0s; }
    .panel { position: relative; }
    .panel-title > a.collapsed:after { content: '+'; position: absolute; right: 24px; }
    .panel-title > a:after { content: '-'; position: absolute; right: 24px; }
    .open .collapse { display: none; }
    .open .collapse.in { display: block; }
    .collapse.in { width: 100%; clear: both;}

    /*  navigation  */
    nav.navbar .container { position: relative; }
    .navbar .accordion-menu { background-color: rgba(27, 22, 28, 0.95); clear: both; min-height: 0 !important; position: absolute; top: 76px; width: 100%; padding: 0; }
    .nav-dark .dropdown-menu { background-color: transparent; }
    .nav-dark-transparent .dropdown-menu { background-color: transparent; }

    /*  sticky navigation */
    .shrink-nav .accordion-menu { top: 56px; }
    .static-sticky .accordion-menu { top: 90px; }
    .sticky-nav .nav > li { float: left; width: 100% !important; margin: 0 !important; border-top: 1px solid rgba(255, 255, 255, 0.06) !important; }
    .sticky-nav .nav > li:last-child { border-bottom: 1px solid rgba(255, 255, 255, 0.06); }
    .sticky-nav ul li a:hover { color: #fff !important; background-color: rgba(0, 0, 0, 0.3); }
    .sticky-nav ul li a:hover i { color: #fff; border-color: #e6af2a; }
    .sticky-nav .navbar-nav > li > a { font-weight: 700; }
    .sticky-nav .navbar-nav > li > a i { display: inline-block; float: right; margin: 9px 10px 0 0; font-size: 14px; color: #fff; width: 20px; height: 20px; vertical-align: middle; padding: 0 0 0 4.2px; line-height: 20px; } 
    .sticky-nav .navbar-nav > li > .dropdown-menu, 
    .shrink-nav .dropdown.simple-dropdown .dropdown-menu { border-top: 1px solid rgba(255, 255, 255, 0.06); left: 0; top: inherit !important; width: 100% !important; transform: translateX(0); -webkit-transform: translateX(0); -moz-transform: translateX(0); -o-transform: translateX(0); }
    .shrink-nav .nav > li { margin: 16px 15px; }
    .nav-white.shrink-nav .navbar-nav li a { color: #fff; }

    .navbar .text-right { background-color: rgba(27, 22, 28, 0.95); clear: both; min-height: 0; padding: 0;  position: absolute; top: 80px; width: 100%; }
    .navbar.shrink-nav .text-right { top: 56px; }
    .static-sticky .text-right { top: 90px !important;}

    .dropdown-menu:last-child ul li:last-child { border-bottom: 0; }
    .dropdown-menu li a { color: inherit; height: 34px !important; line-height: 34px !important; padding: 0 !important; text-align: left; }
    .navbar-default .navbar-nav > .open > a, 
    .navbar-default .navbar-nav > .open > a:hover, 
    .navbar-default .navbar-nav > .open > a:focus, 
    .navbar-nav > li > a { border-bottom: 0 !important;}
    .navbar-default .navbar-nav > li > a { color: #fff; display: block; height: 38px; line-height: 38px; padding: 0 0 0 15px; text-align: left; }

    .dropdown-header { margin: 0;}
    .navbar-collapse.in { overflow-x: hidden; }
    .navbar-default .col-sm-3 { float: left;}

    .mega-menu-column:first-child { padding-left: 0; }
    .mega-menu-column:last-child { padding-left: 0; }
 
    .navbar-toggle {border-radius: 5px;}
    .navbar-default .navbar-toggle .icon-bar { background-color: #fff; }
    .navbar-default .navbar-toggle { background-color: #65432a;}

    .dropdown-toggle.collapsed .fa-angle-down::before { content:"\f107"; }
    .dropdown-toggle .fa-angle-down::before { content:"\f106"; }
    .cart-content ul.cart-list a { background-color: transparent !important; color: #c8c8c8 !important;}
    .cart-content ul.cart-list a:hover { background-color: transparent !important; color: #c8c8c8 !important;}

    /*  navigation, mega menu  */
    .open > .dropdown-menu { margin: 0 ; }
    .dropdown-menu { margin: 0 ; padding: 0 15px !important; position: inherit; width: 100%; background-color: transparent; background-clip: inherit; }
    .mega-menu-column { margin: 0 ; display: block; background-color: transparent; background-clip: inherit; }
    .mega-menu-column li, 
    #collapse7 li { border-top: 1px solid rgba(255, 255, 255, 0.06); }
    .dropdown-menu li { padding: 0; width: 100%; }
    .dropdown-header { border-bottom: 0; border-top: 0 none !important; color: #fff; font-size: 11px; font-weight: 600; height: 38px; letter-spacing: 3px; line-height: 38px; } 
    .dropdown-menu li a.sub-menu-title { color: #fff !important; font-size: 11px; font-weight: 600; height: 38px !important; letter-spacing: 3px; line-height: 38px !important; padding: 0; }
    .dropdown-menu li a i { top: 10px; }
    .simple-dropdown-menu ul { padding: 0 15px !important; }
    .simple-dropdown-menu ul ul { padding: 0 !important; }
    .sub-menu ul { left: 0; background-color: transparent; }
    .simple-dropdown-menu ul li.sub-menu { margin-bottom: 15px; }
    .simple-dropdown-menu ul li.sub-menu.last { margin-bottom: 0; }

    /*  navigation > mega menu > dropdown li ul  */
    .dropdown-menu li ul { display: block; position: inherit; border: 0; padding: 0; margin: 0; }

    /*  sub menu  */
    .sub-menu-title:hover { cursor: default; background-color: transparent !important; }
    .sub-menu a i { display: none; }

    /*  header right */
    .search-cart-header .subtitle { display: none;}

    /*  custom  */
    .breadcrumb { text-align: left; margin-top: 2%; }
    section { padding: 90px 0; }
    .section-title { padding-bottom: 90px; }
    .sm-pull-left { float: left !important; }
    .sm-pull-right { float: right !important; }
    .sm-no-margin { margin: 0 auto !important; }
    .sm-no-margin-top { margin-top: 0 !important; }
    .sm-no-margin-bottom { margin-bottom: 0 !important; }
    .sm-margin-five { margin: 5% 0 !important; }
    .sm-margin-eight { margin: 8% 0 !important; }
    .sm-margin-bottom-one { margin-bottom: 1% !important }
    .sm-margin-bottom-two { margin-bottom: 2% !important }
    .sm-margin-bottom-three { margin-bottom: 3% !important }
    .sm-margin-bottom-four { margin-bottom: 4% !important }
    .sm-margin-bottom-five { margin-bottom: 5% !important }
    .sm-margin-bottom-six { margin-bottom: 6% !important }
    .sm-margin-bottom-seven { margin-bottom: 7% !important }
    .sm-margin-bottom-eight { margin-bottom: 8% !important }
    .sm-margin-bottom-nine { margin-bottom: 9% !important }
    .sm-margin-bottom-ten { margin-bottom: 10% !important }
    .sm-margin-bottom-eleven { margin-bottom: 11% !important }
    .sm-margin-bottom-twelve { margin-bottom: 12% !important }
    .sm-margin-top-one { margin-top: 1% !important }
    .sm-margin-top-two { margin-top: 2% !important }
    .sm-margin-top-three { margin-top: 3% !important }
    .sm-margin-top-four { margin-top: 4% !important }
    .sm-margin-top-five { margin-top: 5% !important }
    .sm-margin-top-six { margin-top: 6% !important }
    .sm-margin-top-seven { margin-top: 7% !important }
    .sm-margin-top-eight { margin-top: 8% !important }
    .sm-margin-top-nine { margin-top: 9% !important }
    .sm-margin-top-ten { margin-top: 10% !important }
    .sm-margin-top-eleven { margin-top: 11% !important }
    .sm-margin-top-twelve { margin-top: 12% !important }
    .sm-margin-right-one { margin-right:1% !important }
    .sm-no-margin-right { margin-right: 0 !important;}
    .sm-no-margin-left { margin-left: 0 !important; }
    .sm-padding-bottom-six { padding-bottom: 6% !important; }
    .sm-no-padding { padding: 0 !important; }
    .sm-no-padding-left { padding-left: 0 !important; }
    .sm-padding-top-six { padding-top: 6% !important }
    .sm-padding-top-nine { padding-top: 9% !important; }
    .sm-padding-bottom-nine { padding-bottom: 9% !important; }
    .sm-display-none { display:none !important}
    .sm-text-center { text-align: center !important;}
    .sm-border { border: 1px solid rgba(0, 0, 0, 0.075) !important; }
    .sm-no-border-right { border-right: 0 !important; }
    .sm-margin-lr-four { margin-left: 4% !important; margin-right: 4% !important;}
    .sm-background-image-right { background-position: center right !important;}
    .sm-pull-none { float: none !important}
    .sm-width-100 { width:100% !important}


    /*  slider typography    */
    .slider-subtitle1 { font-size: 40px; line-height: 58px; width: 234px; }
    .slider-typography-shop .owl-title { font-size: 50px; line-height: 52px; }
    .slider-title-big6{ font-size:90px;}

    
    /* parallax */
    .parallax-fix { background-attachment: inherit !important}
    .parallax-portfolio { background-attachment: inherit !important; background-size: 125% auto; }
    .portfolio-short-description-bg { background-size: 102%; }
    .fix-background { background-attachment: inherit !important; }

    /*  footer  */
    footer h6 { line-height: 16px; }
    footer ul.list-inline li:first-child { padding-left: 18px;}
    .footer-social a:last-child { margin-right: 25px;}

   
    
    /*  menu  */
    .accordion-menu .banner { display: none;}
  
    
        
    /* tabs */
    .nav-tabs > li > a { margin-left: 16px; margin-right: 16px;}
    
    /*  top search  */
    #top-search { margin-left: 13px;}
    .search-cart-header i { padding: 5px; }
    .top-cart .fa-shopping-cart { padding: 5px; margin-right: 0;}
    .page-title-small .breadcrumb { margin-top:2%}
    
}

@media (max-width: 768px) {
    /*  custom  */
    .separator-line { margin: 20px auto 15px; }
    .lg-display-none { display: block; }

   

    /*  slider text   */
    #animated-tab .nav-tabs {margin: 0 0 70px;}
    .nav-tabs > li > a { border-right: 0; }
    #animated-tab .nav-tabs > li > a {margin: 0 auto; }
    .portfolio-filter { display: inline-block;}
    .nav > li {width: auto;}
    .nav-tabs > li.active > a { margin-bottom: 0px; }
    .nav-tabs > li > a:hover { margin-bottom: 0px; vertical-align: top;}

    .owl-title-big { font-size: 30px; letter-spacing: 5px; line-height: 44px; }

    /*  single - onepage portfolio single #2  */
    .slider-text-middle4 { padding: 0 15px 35px;}

    
}
@media (max-width: 767px) {
    /*  custom  */
    section { padding: 50px 0; }
    .xs-pull-left { float: left !important; }
    .first-child { padding-top: 0; }
    .last-child { padding-bottom: 0; }
    .margin-top-section { margin-top: 50px; }
    .xs-indicators-black .active { background-color: #000; border: 2px solid rgba(0, 0, 0, 1); }
    .xs-indicators-black li { border: 2px solid rgba(0, 0, 0, 1);}
    .xs-no-margin { margin: 0 auto !important; }
    .xs-no-margin-top { margin-top: 0 !important; }
    .xs-margin-bottom-one { margin-bottom: 1% !important }
    .xs-margin-bottom-two { margin-bottom: 2% !important }
    .xs-margin-bottom-three { margin-bottom: 3% !important }
    .xs-margin-bottom-four { margin-bottom: 4% !important }
    .xs-margin-bottom-five { margin-bottom: 5% !important }
    .xs-margin-bottom-six { margin-bottom: 6% !important }
    .xs-margin-bottom-seven { margin-bottom: 7% !important }
    .xs-margin-bottom-eight { margin-bottom: 8% !important }
    .xs-margin-bottom-nine { margin-bottom: 9% !important }
    .xs-margin-bottom-ten { margin-bottom: 10% !important }
    .xs-margin-bottom-eleven { margin-bottom: 11% !important }
    .xs-margin-bottom-twelve { margin-bottom: 12% !important }
    .xs-margin-bottom-thirteen { margin-bottom: 13% !important }
    .xs-margin-bottom-thirtyfive { margin-bottom: 35% !important }
    .xs-margin-top-one { margin-top: 1% !important }
    .xs-margin-top-two { margin-top: 2% !important }
    .xs-margin-top-three { margin-top: 3% !important }
    .xs-margin-top-four { margin-top: 4% !important }
    .xs-margin-top-five { margin-top: 5% !important }
    .xs-margin-top-six { margin-top: 6% !important }
    .xs-margin-top-seven { margin-top: 7% !important }
    .xs-margin-top-eight { margin-top: 8% !important }
    .xs-margin-top-nine { margin-top: 9% !important }
    .xs-margin-top-ten { margin-top: 10% !important }
    .xs-margin-top-eleven { margin-top: 11% !important }
    .xs-margin-top-twelve { margin-top: 12% !important }
    .xs-margin-top-thirteen { margin-top: 13% !important }
    .xs-no-margin-right { margin-right: 0 !important }
    .xs-no-margin-left { margin-left: 0 !important; }
    .xs-no-margin-lr { margin-left: 0 !important; margin-right: 0 !important}
    .xs-no-margin-bottom { margin-bottom: 0 !important }
    .xs-padding-bottom-six { padding-bottom: 6% !important; }
    .xs-padding-bottom-fifteen { padding-bottom: 15% !important; }
    .xs-padding-top-six { padding-top: 6% !important }
    .xs-padding-left-right-two { padding: 0 2% !important; }
    .xs-display-none { display: none !important}
    .xs-padding-seven { padding: 6% 0}
    .xs-no-padding { padding: 0 !important; }
    .xs-no-padding-left { padding-left: 0 !important; }
    .xs-no-padding-right { padding-right: 0 !important; }
    .xs-no-padding-lr { padding-left: 0 !important; padding-right: 0 !important; }
    .xs-no-padding-top { padding-top:0 !important}
    .xs-no-padding-bottom { padding-bottom: 0 !important; }
    .xs-no-padding-left-right { padding-left: 0 !important; padding-right: 0 !important}
    .xs-padding-right { padding-right: 15px !important;}
    .xs-padding-left { padding-left: 15px !important;}
    .xs-text-center { text-align: center !important;}
    .xs-no-border { border: 0 !important; }
    .xs-no-background { background: none !important; }
    .xs-no-float { float: none !important; }
    .xs-display-block { display: block !important; }
    .xs-text-left { text-align: left !important; }
    .width-70 { width: 100% !important; }
    .xs-width-100 { width: 100% !important; }
    .xs-img-full { width: 100%;}
    .xs-padding-tb-ten { padding-bottom: 10% !important; padding-top: 10% !important; }
    .xs-width-100 { width: 100% !important}
    .xs-letter-spacing-6 { letter-spacing: 6px !important}
    .xs-center-col { float: none !important; margin-left: auto !important; margin-right: auto !important;}
    .xs-padding-eight { padding: 8%; }
    .xs-position-inherit { position: inherit !important;}
    .xs-line-height-18 { line-height: 18px !important;}
    
    /*  background color  */
    .xs-bg-gray { background-color: #f6f6f6 !important;}

    

    /*  footer  */
    footer .col-sm-4 { margin-bottom: 30px; }
    footer .col-sm-4:last-child { margin-bottom: 0; }


    /* buttons */ 
    .highlight-button-black-border { font-size: 16px; padding: 10px 20px; }

    

    /*  animated tab    */
    #animated-tab .nav-tabs { width: 100%; text-align: center;}
    #animated-tab .nav > li { text-align: center; width: 20%; margin: 0 -3px 0 0; display: inline-block; border: 0; float: none; }
    #animated-tab .nav-tabs > li > a { padding: 0; display: inline-table }
    .nav-tabs > li > a { margin-bottom: 0px; margin-left: 0 !important; margin-right: 0 !important }
    .nav-tabs > li.active > a { margin-bottom: 0px;}
    .tab-style1 .nav-tabs li a:hover, .tab-style2 .nav-tabs li a:hover { padding:5px auto; border-bottom: 2px solid #000;}
    .tab-style2 .nav-tabs li a { border-bottom: 2px solid #d4d4d4; padding: 5px 0;}
    .tab-style2 .nav-tabs li.active { border: none; margin: 0;}
    .tab-style2 .nav-tabs li.active a { border-bottom: 2px solid #000; padding: 5px 0;}
    .tab-style2 .tab-content { padding: 0; border: none}
    .tab-style3 .nav-tabs { border: 1px solid #ddd;}
    .tab-style3 .nav-tabs li:first-child { margin-left: 0; border:none; border-bottom: 1px solid #e5e5e5;}
    .tab-style3 .nav-tabs li:last-child { border-bottom: none;}
    .tab-style3 .nav-tabs li { border-bottom: 1px solid #e5e5e5; border-top: none; border-right: none}
    .tab-style3 .nav-tabs li a:hover { border: none}
    .tab-style3 .nav-tabs li.active { border-bottom: 1px solid #e5e5e5;}
    .tab-style3 .tab-content { padding: 0 20px;}
    .tab-style4 .tabs-left .nav-tabs { width: 100%; padding: 0; margin: 0;}
    .tab-style4 .tab-content { width: 100%; float: left; padding: 20px;}
    .tab-style5 .tabs-left .nav-tabs { width: 100%;}
    .tab-style5 .tabs-left .nav-tabs li { border: none}
    .tab-style5 .tab-content { width: 100%; padding: 20px; background-color: #fff; border: none; float: left}
    .travel-booking .tab-style3 .nav-tabs li { margin-bottom: 1px }

   

    /* page titles */
    .page-title-large h1 { font-size: 20px !important; }

    /*  page title large    */
    .page-title-large { min-height: 250px; padding: 140px 0 0;}

    

    /****** blog home pagination ******/
    .pagination a { margin: 0 13px;  }

    /* style #2 */
    .next-previous-project-style2 a { width: 100%; padding: 20px 0;}
    .next-previous-project-style2 a.border-right { border-right: 0px;}


    /*  slider typography    */
    .slider-subtitle1 { font-size: 24px; line-height: 36px; width: 138px; padding: 15px; margin-bottom: 25px; }
    .slider-subtitle2 { font-size: 38px; line-height: 49px; }

    /****************************************************
        buttons
    ****************************************************/
    .button-style .btn { display: table; margin: 0 auto; }
    .button-style .btn.button-reveal { display: list-item; margin: 0 auto; width: 220px; }

   

    /*  header right */
    .search-cart-header .subtitle { display: none;}
    .search-cart-header { padding: 14px 15px 0 0px;}
    #top-search { margin: 1px 0 0 10px; }

    

    /* blog single full width */
    .full-width-headline h2 { font-size: 30px; line-height: 40px; margin-top: 190px; }
    .text-large-full-width { font-size: 20px !important; line-height: 28px !important; }

    

    /* page titels */
    .page-title { padding: 40px 0}
    .page-title h1 { letter-spacing: 2px; line-height: 26px; margin-bottom: 0px; }
    .page-title-large { padding: 140px 0 0; }

    /* footer */
    .list-inline li { padding: 0 15px;}
    footer ul.list-inline li:first-child { padding-left: 0;}
    footer ul.list-inline li:last-child { padding-right: 0;}
    footer .footer-middle { padding-top: 50px; padding-bottom: 25px;}
    footer h6 { font-size: 11px; }

    
    
    /*  typography  */
    .text-large { font-size: 14px !important; }
    .title-large { font-size: 26px !important; }
    h1, .h1 { font-size: 30px; line-height: 42px;}
    .title-extra-large { font-size: 26px !important; line-height: 33px !important; }
    .agency-header span {  margin:3% 0 16%; }
    
    
    
    /* tabs */
    .tab-style4 .tabs-left .nav-tabs li a { width: auto;}
    .tab-style5 .tabs-left .nav-tabs li a {  width: auto; }
    .tab-style2 .nav-tabs li { border: 0; margin: 0;}
    .tab-style3 .nav-tabs li.active a { top: 0;}
    .tab-style4 .tabs-left .nav-tabs li.active a { left: 0;}
    .tab-style5 .tabs-left .nav-tabs li.active a { left: 0;}
    .nav-tabs > li > a { margin-top: 12px;}
    
    
    /*  slider typography    */
    .slider-title-big6{ font-size:60px;}
    
    /* form */
    .login-box { padding: 20px;}
    
    
    
    /* typography */
    blockquote { padding: 10px 20px; font-size: 18px; font-weight: 100; line-height: 26px;}
    
    
    
    /*  static sticky  */
    .static-sticky { height: 55px !important;}
    .static-sticky .container { height: 55px !important; }
    .static-sticky .text-right { top: 56px !important;}
    
   
    
}

@media (max-width: 640px) {
    /*  custom  */
    .section-title {padding: 0 0 50px 0;}
    #blog-slider { padding-bottom: 30px; }
    #blog-slider .owl-pagination { bottom: -10px; }

   
    #animated-tab .nav-tabs {margin: 0 0 30px; width: 100%;}

  
    
    .table-scroll { overflow: hidden; overflow-x: scroll;}
}
@media (max-width: 589px) {
    
    /* typography */
    .xs-letter-spacing-2 { letter-spacing: 2px !important; }
    .xs-min-height-inherit { min-height: inherit !important; }
}
@media (max-width: 580px) {
    

    /*  footer  */
    .footer-social i { margin: 0;}
    .list-inline li { padding: 0 15px;}

}
@media (max-width: 480px) {
    /*  navigation  */
    .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse { max-height: 394px; }

    /*  custom  */
    .section-title { font-size: 16px; line-height: 21px; }
    .btn-black.btn-small.margin-two { margin-top: 5%; }
    .scrollToTop { display: none !important; }
    .highlight-button-black-background { padding: 20px 29px; }
    .search-form .search-input {font-size:17px; font-weight:400; padding:5px 2px}
    .search-form .search-button { top:18px; font-size:14px;}

    

    /*  footer  */
    .footer-social { /* margin-top: 20px; */ }

    /*  text effect  */
    .rotation-highlight { font-size: 28px; padding: 15px; margin-bottom: 20px; }

    

    /*  animated    */
    #animated-tab .nav-tabs > li { border-right: 0; }
    #animated-tab .nav-tabs > li > a { font-size: 30px; }
    .service-year { font-size: 16px; line-height: 22px; }
    .animation3 span b { font-size: 20px; line-height: 28px; }

    

    /*  slider typography    */
    .slider-title-big4 { font-size: 20px; margin-bottom: 10px; }
    .slider-title-big3 { font-size: 14px; line-height: 22px; padding: 15px; margin-top: 10px; letter-spacing: 4px; }
    .slider-subtitle3 { font-size: 13px; line-height: 22px; letter-spacing: 4px; }
    .slider-subtitle2 { font-size: 22px; line-height: 30px; }
    .slider-subtitle5 { font-size: 20px; margin-bottom: 15px;}
    .slider-subtitle4 { margin-bottom: 5px; }
    .slider-number { margin-bottom: 30px; }
    .slider-title-big5 { margin-bottom: 15px; width: 85%; }

    /*  parallax    */
    .parallax-sub-title { font-size: 19px; }
    .parallax-title { margin-bottom: 15px; }   
    .parallax-number { margin-bottom: 30px; margin-top: 80px; }

   

    /*  scroll down    */
    .scroll-down { bottom: 30px; }
    .page-title-large span { display: none}
    .page-title-large h1 { margin-top: 30px; line-height: 27px; }

    /****************************************************
        accordions
    ****************************************************/
    .panel-title { font-size: 11px; padding: 7px 15px; }
    .panel-body { padding: 5px 15px 20px; }
    .accordion-style3 .panel-heading { padding-bottom: 20px; }
    .accordion-style3 .panel-title { font-size: 12px; line-height: 60px; padding: 0 20px; }
    .toggles-style3 .panel-title span { right: 10px; top: 8px; }
    .accordion-style3 .number { font-size: 16px; }
    .accordion-style3 .panel-body { padding: 0 20px 21px; }
    .toggles-style3 .panel-title { font-size: 12px; line-height: 18px; padding:10px; }
    .toggles-style3 .panel-body { padding: 0 20px 21px}

   
    /****************************************************
        buttons
    ****************************************************/
    .button-desc { font-size: 24px !important; line-height: 28px; }
    .button-desc span { font-size: 16px; line-height: 20px; }

    
    /****************************************************
        typography
    ****************************************************/
    .subheader h1 { font-size: 26px; line-height: 35px; }
    .xs-letter-spacing-none { letter-spacing: 0 !important; }
    .line-height-18 { line-height: 18px !important;}
    .corporate-slider h1 { font-size: 34px; line-height: 44px; }

   

    /****************************************************
        contact us
    ****************************************************/
    .contact-map iframe { height: 300px; }

    /*     footer  */
    .footer-link2, .footer-link3, .footer-link4 { width: 100%; margin-bottom: 5%;}
    footer h5 { margin-bottom: 10px;}
    .footer-middle { text-align: center; }

    /****************************************************
        home page
    ****************************************************/
   
}
@media (max-width: 420px) {   
    /*  typography    */
    .title-med { font-size: 22px !important; line-height: 30px !important; }
    .subheader { padding: 10px 15px; }
    .spa-slider h1 { font-size: 35px; line-height: 75px; }
}
@media (max-width: 466px) {
    
    /*  text effect  */
    .animation2 span b { font-size: 20px; line-height: 30px; }


    /*     footer  */
    .list-inline li { padding: 0 6px;}
    footer ul li a { font-size: 10px;}
    .footer-social a { margin: 0 15px;}
    .copyright { font-size: 9px;}

   
}
@media (max-width: 366px) {
    /*  buttons   */ 
    .btn-small-white { margin-right: 7px;}

    /*  owl carousel    */
    .owl-title {font-size: 22px; line-height: 30px} 

    
}
@media (max-width: 359px) {
   

    /*     footer  */
    .footer-social i { font-size: 20px;}
    .footer-social a { margin: 0 10px;}
    footer ul li a { font-size: 9px;}
    .list-inline li { padding: 0 3px;}
    .copyright { font-size: 8px;}
    
    

}
@media (max-width: 330px) {
   
}
/*  only mobile devices landscape view  */
@media screen and (max-width: 320px) , screen and (max-height: 480px) {
    .navbar-fixed-top .navbar-collapse, 
    .navbar-fixed-bottom .navbar-collapse { max-height: 275px !important; }
}
@media (max-width: 320px) {
    .highlight-button-black-border {font-size: 18px;padding: 10px 20px;}
    .owl-title {font-size: 18px; line-height: 24px; margin-top: 5px;}
    h1 { font-size: 26px; line-height: 32px; }

    .slider-text-bottom { vertical-align: middle; }

   

}
