/*===== USER SECTION IN HEADER =====*/


.bg-body
{
  background-color: #eee !important
}
.bg-active
{
  background-color: #427742;
}
.form-control
{
  border-radius: 4px !important;
}
.country-list
{
  width: 240px;
}
.ng-toast
{
  z-index: 4000 !important;
}

.table > thead > tr > th {
    
  font-size: 13px  !important;
}

#section_feature i
{
  font-size: 59px;
  color: #1e313e;
  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -o-transition: all .8s ease;
  -ms-transition: all .8s ease;
  transition: all .8s ease;
  font-weight: 100;
}
#section_feature i:hover
{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.unique
{
  list-style-type: none;
}
.unique li
{
  border-bottom: solid 1px rgb(236, 232, 232);
}
#section_feature
{
  background-color: #fcfcfc !important;
  border-top: 2px solid rgb(30, 49, 62);
  padding-bottom: 11px !important;
}

.how_u
{
  list-style-type: none;
}
.how_u li
{
 cursor: pointer;
}
.how_u i
{
    margin-right: 15px;
    font-size: 14px;
    color: grey;
}


.captitallize

{
  text-transform: capitalize !important;
}

.table > thead > tr > th {
  color: #283d4b !important;
}
.table > thead > tr {
    background-color: #ffffff !important;
    border-bottom: solid 5px #eeeeee !important;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 4px 15px !important;
    border-top: 1px solid #e5e5e5;
    background-color: white;
}


/*--ng-show fade In--*/

 ng-show{0%{opacity:0}100%{opacity:1}}@keyframes ng-show{0%{opacity:0}100%{opacity:1}}.ng-show{-webkit-animation-name:ng-show;animation-name:ng-show}


/*--End ng-show fade In--*/


.btn-primary {
    color: #fff;
    background-color: #4d6e85 !important;
    border-color: #112c3f !important;
}

.logo-responsive{
  margin-left: -70px;
}

.bg-inactive
{
  background-color: rgb(148, 61, 57);
}

.radius-30
{
  border-radius: 30px !important;
}
.ng-enter
{
   webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -o-transition: all .6s ease;
    -ms-transition: all .6s ease;
    transition: all .6s ease;
    -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
  transform: scale(1.01);

}


.dashboard-home
{
    margin-top: 37%;
}

#payment .list-group-item {
    background-color: #f6f6f6 !important;
}

.list-group-item 
{
   background-color: #fcfcfc !important;
}
.border-fade
{
    border-top: 1px solid rgba(0, 0, 0, 0.23);
}

.fade-header-icon-bg
{
  background-color: rgb(40, 61, 75);
}
/*--side bar--*/

.sidebar
{
  float: left;
  width: 200px;
  height: 100%;
  background-color: #f6f6f6 !important;
  box-shadow: 0 10px 20px -12px rgba(0,0,0,.42), 0 3px 20px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
  z-index: 1000;
}

.welcome-guide
{
  margin-top: -84px;
  background-color: white;
  font-family: cursive;
  color: black;
  padding: 12px;
  box-shadow: #b8cbb6 2px 2px;
  border-top-right-radius: 5px;
}
.sidebar  i
{
  font-size: 15px;
}

.sidebar .nav > li 
{
  margin: 5px 20px;
  text-align: left;
  width: 100%;
}

.sidebar .nav > li :hover
{
  background-color: #eee;
}

/*--/side bar-*/
.role{
  display: block;
  color: #65582a !important;
  line-height: 15px;
  font-weight: 900;
}
.welcome-avatar
{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
}

.notify_count{
    color: red;
    font-weight: bold;
    margin-top: -10px;
    float: right;
}

/*publisher list*/

#publisher_list .nav-tabs {
    height: auto;
    width: 100% !important;
    border-top: solid 1px rgba(8, 11, 22, 0.24) !important;
}

#publisher_list .nav-tabs li {
    margin-bottom: -1px;
    border: 1px solid transparent !important;
    border-bottom: none !important;
    width: auto !important;
    display: inline-block !important;
    float: none !important;
}


.color-de
{
  color:#1e313e;
}

.bg-de
{
  background-color:#1e313e !important;
}

#loadingView
{
  position: absolute;
  top: 0;
  left: 50%;
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}
.error-h
{
  font-size: 30px;
  font-family: cursive;
  vertical-align: middle;
  margin-top: 100px;
  margin-bottom: 50px
}

.error-page
{
  margin-top: 90px;
}


.error-page i
{
  color: white;
}
  

#how .tab-content
{
  border: 0px!important;
  background-color: #e5e5e5;
  display: inline-block;
  padding: 25px 25px 0px 25px !important;
  min-height: 328px
}


#how img
{
  
  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -o-transition: all .8s ease;
  -ms-transition: all .8s ease;
  transition: all .8s ease;
  width: 140px;
  height: 140px;
  border: solid 2px;
  padding: 1px;
  border-radius: 50%;
}
.text-light-g
{
  color: #61ba61;
  margin-top: 6px;
}

#how .owl-controls
{
    text-align: center;
    margin-top: -20px;
}
#how .owl-next, #how .owl-prev
{
    display: inline-block !important;
    margin-right: 8px;
}


.country-list::-webkit-scrollbar, .websitesselection::-webkit-scrollbar, #City::-webkit-scrollbar 
{
    width: 8px ;
    height: 8px;
}
.country-list::-webkit-scrollbar-track, .websitesselection::-webkit-scrollbar-track,#City::-webkit-scrollbar-track 
{
    -webkit-box-shadow:inset 0 0 6px rgba(33, 44, 63, 0.69);
}

.country-list::-webkit-scrollbar-thumb, .websitesselection::-webkit-scrollbar-thumb, #City::-webkit-scrollbar-thumb
{
    -webkit-box-shadow:inset 0 0 6px rgba(33, 44, 63, 0.69);
        border-radius:5px;
}

#city::-webkit-scrollbar
{
    width: 8px ;
    height: 8px;
}
#city::-webkit-scrollbar-track, #city ::-webkit-scrollbar-thumb
{
   -webkit-box-shadow:inset 0 0 6px rgba(33, 44, 63, 0.69);
    border-radius:5px;
}


.homenotify
{
  margin-top: -23px;
}

.display-block
{
  display: block;
}

.navbar-default .navbar-nav > li > a i {
    display: block !important;
    font-size: 20px;
    color: white;
}

.account-block
{
  position: absolute;
  z-index: 100;
  right: 190px;
  top: 210px;
}

.multi_select
{
  background: white;
  padding: 5px;
  border: solid 1px silver;
  height: 135px;
  overflow-y: scroll;
}

.multi_select ul
{
  text-align: center;
}

.multi_select ul li
{
  margin-bottom: 5px;
  border-bottom: solid 1px rgba(192, 192, 192, 0.11);
}


.account-block button
{
  border-radius: 0 !important;

}

.account-block input[type=text],account-block input[type=password]
{
  background: #f6f6f6 !important;
}


.account-block input,.account-block input:focus, .account-block input:-webkit-autofill
{
  height: 30px !important;
  background-color: #f6f6f6 !important;
}

#email_init input:-webkit-autofill, #password_init input:-webkit-autofill
{
  background-color: #f6f6f6 !important;
}


.username{
   font-size: 11px;
    color: #fff;
    white-space: nowrap;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 35px;
    letter-spacing: 1px
}
.alert-default
{
  font-size: 30px;
  color:#5cb45b;
}




.default
{
  background-color: transparent !important;
}

.img-no-dither
{
    background-size: cover;
    background-position: top center !important;
    position: relative;
    overflow: hidden;

}

.bg-slider {
    background: rgba(13, 17, 30, 0.66) !important;
}

.bg-home
{
  background-color:#1e313e;
}
.shopping-cart i
{
  margin: 0 3px;
  font-size: 21px !important;
  color: white !important;
}

.img-no-dither:before
{
    display: block;
    content: "";
    width: 100%;
    padding-top: 66.5%;
}

.img-no-dither:after
{
    background-color: transparent;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

/*---CARD--*/

.card {
    position: relative;
    border-radius: .25rem;
    position: relative;
    border: 0 none;
    box-shadow: 1px 1px 5px rgba(120, 134, 145, 0.77);
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 30px;
    background-color: #f6f6f6;
}

.card-img-top {
    border-radius: .25rem .25rem 0 0;
    height: 180px;
    width: 100%;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -o-transition: all .8s ease;
    -ms-transition: all .8s ease;
    transition: all .8s ease;
}

.hometextpad li
{
  color:black !important;
}

.card-img-top:hover
{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
-webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -o-transition: all .8s ease;
    -ms-transition: all .8s ease;
    transition: all .8s ease;

.section-title {
    
    font-weight: 400 !important;
    font-size: 18px !important;
}

.card-block {
    bottom: 0;
    padding: 10px;
    padding-top: 20px;
    width: 100%;
    background-color: #f6f6f6;
   /* background: -webkit-linear-gradient(bottom,#fff 80%,transparent 100%) repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(bottom,#fff 80%,transparent 100%) repeat scroll 0 0 transparent;
    background: -o-linear-gradient(bottom,#fff 80%,transparent 100%) repeat scroll 0 0 transparent;
    background: linear-gradient(to top,#fff 80%,transparent 100%) repeat scroll 0 0 transparent;*/
}

.card-block h3
{
    font-family: 'Segoe UI';
    font-weight: bold;
    color: #373737;
    font-size: 12px !important;
    text-transform: capitalize;
    margin-bottom: 5px

}

.card-block span
{
  text-align: center;
  color: rgba(17, 18, 18, 0.86);
}



.card, .card-title {
    margin-bottom: .75rem;
}

.reliable span
{
  display: block;
  color: #a94442;
  margin-left: 80px;
  box-shadow: #a94442 1px 1px 1px;
  margin-top: -10px;
}
.reliable img
{
  width: 120px;
  margin-left: 100px;
}

.hastle-free
{
  margin-top: -150px;
  float: right;
}

.hastle-free span
{
  display: block;
  color: #a94442;
  margin-right: 80px;
  box-shadow: #a94442 1px 1px 1px;
  margin-top: -3px;
}
.hastle-free img
{
  width: 120px;
  margin-right: 80px;
}

.leftfifteen
{
  margin-left: -15px;
}


.marsixty
{
  
  margin-bottom: 30% !important;
}

.medium-opacity {
  
    opacity: 0.91 !important;
    z-index: 1;
   
}



/*===== TABLE =====*/
tr.sortable th{
    cursor: pointer;
}
tr.sortable .space {
    width: 9px;
    height: 13px;
    display: inline-block;
}
tr.sortable th:last-child{
    cursor: auto;
}
td.inactive{
    opacity: 0.5 !important;
}


tr.hidden
{
  overflow-x: hidden !important;
}
.hidden
{
  overflow-x: hidden !important;
}


/*===== styles for validation helpers =====*/
.field-validation-error-login {
    color: #b94a48;
    margin-top: -9px;
    display: block;
    margin-bottom: -8px;

}
.field-validation-error {
    color: #b94a48;
    display: block;
    margin-bottom: -20px;

}

/*--select pulisher-*/

#publisher_list .tab-content,#publisher_list .ucontent 
{
    background: #f2f2f2 !important;
    padding: 5px;
    border: solid 1px #eeeeee;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;

}



.regadj .field-validation-error
{
  color: red;
  display: block;
  margin-top: -7px;
}
.regadj input.input-validation-error {
    border: 1px solid red;
}

.field-validation-valid {
    display: none;
}
input.input-validation-error {
    border: 1px solid #b94a48;
}
input[type="checkbox"].input-validation-error {
    border: 0 none;
}
.validation-summary-errors {
    margin-top: -23px !important;
    display: block;
    margin-bottom: -3px !important;
    text-align: center;
    color: #b94a48;
}
.validation-summary-valid {
    display: none;
}

/*===== Loading Button =====*/
.loader {
  margin-left: 15px;
  font-size: 5px;
  position: relative;
  text-indent: -9999em;
  border-top: white;
  border-bottom: 1.1em solid rgba(254, 254, 254, 0.18);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loader.display-inline-block{
    margin-bottom: -7px;
}
.loader.loader-small{
    width: 4em;
    height: 4em;
    margin-left: 5px;
}

body{ font-family:FontAwesome, 'Open Sans', sans-serif !important; -webkit-font-smoothing: antialiased; font-size:13px; color:#626262; line-height:23px; letter-spacing: 0.02em; position:relative; min-height: 100%; padding-bottom: 12rem;}


/*===== Display Values =====*/
.inline-flex{
    display: inline-flex;
    display: -webkit-inline-flex;
}


/*===== Toast Notification =====*/
.ng-toast span{
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0;
}
.ng-toast.ng-toast--top, .ng-toast.ng-toast--top .ng-toast__list {
    top: 60px;
    bottom: auto;
}
.ng-toast .ng-toast__message .alert {
    -webkit-box-shadow: 0 0 12px -4px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 0 12px -4px rgba(0,0,0,0.25);
    box-shadow: 0 0 12px -4px rgba(0,0,0,0.25);
}

.position-inherit
{
 position: inherit !important;
}


/*===== Loading Spinners =====*/
/*View Change*/
.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
}

.ng-toast--bottom .alert-success
{
  color: white !important;
  background-color: #60b960 !important;
  border-color: #d6e9c6;
  height: 66px !important;
  border-radius: 0 !important;
}
   

.width-30
{
  width: 30px !important;
}

.actionspinner {
    margin: 200px auto 0;
    width: 70px;
    text-align: center;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #000; /*#333*/

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner > div.white {
  background-color: #fff;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
/*Modal Pop-up*/
.loadingModal{
    display: flex;
    align-items: left;
}
.loadingModal .spinner{
    margin: 0 auto !important;
}


/*===== Margins =====*/
.margin-right-04{
    margin-right: 0.4em;
}
.margin-top-ten{
    margin-top: 10%;
}
.margin-one-bottom{
    margin-bottom: 1%;
}


/*===== PICTURES =====*/
#photo-id{
    width:250px;
    height: 250px;
    border: 5px solid #d7d7d7;
}
.font-image-icon{
    margin: 0 3px;
    width: 23px;
}


/*===== Text Colors =====*/
.green{
    color: #079C07; 
    font-weight:600;
}
.red{
    color: red;
    font-weight: 600;
}
.blue{
    color: #0F8CD6;
    font-weight: 600;
}

.font-12
{
  font-size: 12px !important;
}
.two-padding
{
  padding: 2px !important;
}

.helperbtn
{
  height: 26px;
  line-height: 24px;
  border-color: #7b3d3c !important;
}

/*===== OTHERS =====*/
.text-myExtra-large{
    font-size: 28px;
    line-height: 30px;
}
.line-height-20{
    line-height: 20px !important;
}
hr {
    border: 0;
    height: 1px;
    background: #D2D1D1;
    background-image: linear-gradient(to right, #E6E6E6, #D2D1D1, #E6E6E6);
}
.border-left-right-gray{
    border-left: 1px solid #D2D1D1;
    border-right: 1px solid #D2D1D1;
}
.absent-holder{
    font-size: 12px !important;
    opacity: 0.4;
}


/*MY CUSTOM CSS*/

.profileslink li a {
    display: block;
    color: #000;
    padding: 8px 0 14px 16px;
    text-decoration: none;
    width: 200px;      
}

/* Change the link color on hover */
    .profileslink li a:hover {
        background-color: #555;
        color: white;
        text-align: center;
    }

.profilelink {
    
    width: 200px;
    border:solid 2px #7b3d3c;
    
}

.profilelink ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 198px;
    background-color: white;
    position:relative;
    top:40px;
    border-right:solid 2px silver;
    height:110px;
}

.profilelink li a {
    display: block;
    color: #000;
    padding: 8px 0 14px 16px;
    text-decoration: none;
    width: 200px;      
}

/* Change the link color on hover */
.profilelink li a:hover {
    background-color: #555;
    color: white;
    text-align: center;
}
 .profilelink li a:active {
    background-color: black;
    color: white;
    text-align: center;
}



/*======publisher details===*/

.profilepublisher {
    
    width: 200px;
    border:solid 2px #7b3d3c;
    
}

.profilepublisher ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 198px;
    background-color: white;
    position:relative;
    top:40px;
    border-right:solid 2px silver;
    height:110px;
}

.profilepublisher li a {
    display: block;
    color: #000;
    padding: 8px 0 14px 16px;
    text-decoration: none;     
}

.profilepublisher li a:hover {
    background-color: #555;
    color: white;
    text-align: center;
}
 .profilepublisher li a:active {
    background-color: black;
    color: white;
    text-align: center;
}

.advertiserprofile-user-img {
  
    width: 170px;
    height: 122px;
  
}

.publisherprofile-user-img {
  
    width: 105px;
    height: 105px;
    margin-top: 5px;
  
}
.changeavatar
{
  display: none;
}

.advertiserprofile-user-img:hover .changeavatar
{
  display: block;
}





/*MULTI SELECT*/

 ul.dropdown-menu li {
      cursor: pointer;
  }

  ul.dropdown-menu li span.red {
    color: red;
  }

  ul.dropdown-menu li span.green {
    color: green;
  }

  .thumb{
    width:160px;
    height:160px;
    margin:5px;
    float:left;
}



/* FILE UPLOAD PROGRESS BAR */

form.progress{
  line-height: 10px;
}
.progress
{
  display:inline-block;
  width:421px;
}
/*progress div
{
  font-size: :smaller;
  background-color: green;
  width:0;
}*/
.completereg
{
  margin-top: -100px;
}

.compeletereg-head
{
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    font-weight: bolder;
    font-family: cursive;
}

.completereg a
{
  color: red;
  margin-left:65px;
}

.completereg form
{
  padding: 11px;
  background-color:#112c3f; 
}

.completereg button
{
  background-color: black !important;
  color:white !important
}


.completereg label
{
  color: black;
  font-weight: bolder;
}
.no-style
{
  list-style-type: none;
}

body .completereg
{
  background-image: url(uploads/images/homeslider/woman.jpg) !important;
}

.


/*VSTAR USER PROFILE PICS*/



.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 2px solid #7b3d3c;
    margin-bottom: 20px;
    width: 170px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.profile-user-img
{
  margin: 0 auto;
width: 100px;
padding: 3px;
border: 3px solid #d2d6de;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}



.img-circle {
    border-radius: 50%;
}

.round-square {
    border-radius: 9%;
}
.overlapseicon
{
    position: relative;
    z-index: 7;
    top: 77px;
    left: 60px;
    height:30px;
    cursor: pointer;
}


.hiddeninput
{
  width: 0.10px;
  height:0.10px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: 6;
}

.nav-tabs-custom a {
    color: rgb(34, 34, 34);
    font-family: "Open Sans",sans-serif !important;
    font-size: 13px;
}
.advertpicture
{
  width: 200px;
  height:200px;
}


.margin-bottom-forty
{
  margin-bottom: 40px;
}


.paybutton
{
  width: 100px;
  height: 36px;
}

.coupon-input
{
  width: 150px;
}

.coupon-button
{
  margin-top: -47px;
   float: none !important;
}


@media (max-width: 1200px)
{
  .coupon-button
  {
    margin-top: -47px;
    margin-right: -20px;
  }
}

@media (max-width: 992px)
{
  .coupon-button
  {
    margin-top: -47px;
    margin-right: 250px;
  }
}

@media (max-width: 731px)
{
  .coupon-button
  {
    margin-top: -47px;
    margin-right: 100px;
  }
  .paybutton
  {
    width: 150px;
    height: 36px;
  }
}

@media (max-width: 641px)
{
  .coupon-button
  {
    margin-top: -47px;
    margin-right: 30px;
  }
  .coupon-input
  {
    width: 100px;
  }
}

@media (max-width: 483px)
{
  .coupon-button
  {
    margin-top: -47px;
    margin-right: 30px;
   
  }
  .coupon-input
  {
    width: 90px;
  }

   .paybutton
  {
    width: 85px;
    height: 36px;
  }
}

@media (max-width: 375px)
{
  .coupon-button
  {
    margin-top: -47px;
    margin-right: 30px;
   
  }
  .coupon-input
  {
    width: 62px;
  }

   .paybutton
  {
    width: 75px;
    height: 36px;
  }
}





/*j player*/



.player-container
{
  background-color: rgba(246, 246, 246, 0.49) !important;
}

.jp-current-time, .jp-duration {
    position: absolute;
    top: 12px;
    font-size: 0.8em;
    cursor: default;
}
.jp-duration
{
  right: 1px;
}


.bg-adgoldnav{ background: #a94442 !important;}
.bg-gold{ background: #1e313e  !important;
color: white}
.btn-very-small-danger { font-size: 9px; letter-spacing: 2px; padding: 2px 15px; border: 1px solid #fff; color: #7b3d3c;}
.btn-very-small-danger:hover { background-color: #FFF; color: #7b3d3c;}
.btn-gold{ border: 2px solid #1e313e; color: #fff; display: inline-block; background-color: #1e313e; padding: 7px 20px 8px; width: auto;}
.btn-gold:hover {border: 2px solid #1e313e; color: #7b3d3c; background-color: transparent;}

.btn-create{ border: 1px solid black; color: black; display: inline-block; background-color: transparent; padding: 7px 20px 8px; width: auto; border-radius: 3px}
.btn-create:hover {border: 1px solid #7b3d3c; color: #7b3d3c; background-color: transparent;border-radius: 3px;}



.adgold{color: #65432a}
.bg-adgold{ background: #1e313e  !important;
}
.btn-very-small-danger { font-size: 9px; letter-spacing: 2px; padding: 2px 15px; border: 1px solid #fff; color: ##65432a;}
.btn-very-small-danger:hover { background-color: #FFF; color: #65432a;}
.btn-adgold{ border: 2px solid #1e313e; color: #fff; display: inline-block; background-color:#1e313e; padding: 7px 20px 8px; width: auto;}
.btn-adgold:hover {border: 2px solid #1e313e; color: #65432a; background-color: transparent;}

.pointer
{
  cursor:pointer !important;
}

.margin-fifteenneg
{
      margin-bottom: -15px;
}

.receipt
{
  background-color:white;
  height:440px;
  overflow-y:auto;
}

.login_pop
{
  border-top-left-radius: 35px !important;
  border-radius: 6px;
  margin-top: 40px;
  width:270px ;
  height:340px;
}

button.mfp-close, button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    -webkit-box-shadow: none;
    box-shadow: none;
}


button.mfp-close, button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-user-select: none;
}

.reg-link
{
    position: absolute;
    margin-top: 78px !important;
    margin-left: 50px;
}

.regadj 
{
    padding-top: 17% ;
    padding-bottom: 12% !important;
    padding-left: 1% !important;
    padding-right: 1% !important;
    background-color:  #112c3f !important;
    box-shadow: #2b2020 2px 2px 2px;
   
}

.mobile-login
{
  background-color: transparent !important;
  color:white !important;
  cursor:pointer; 
  padding: 0 !important;
  border: none !important;
}

.mobileprofilenav
{
  display: none;
}


.width-adjust 
{
    width: 20% !important;
}

.regmargin
{
  margin-top: 9% !important;
  float: right !important;
  margin-right: 30% !important;
}
  
.mobileprofile{

  display: block;
}

.mobileprofile-nav{
  margin-top: -20px
}

.desktopprofile-nav{

  display: none;
}

.mobileupload-button
{
  margin-top: -4px;
  margin-left: 26px;
}

.or-adjust
{
  margin-left:67px;
  margin-bottom: 10px;
}

.form-group {
    margin-bottom: 20px !important
}

.form-groupdefault {
    margin-bottom: 5px !important
}

.btn-nav
{
  padding: 2px 14px !important;
}

.websitesselection
  {
    height: 190px !important;
    width: 207px !important;
    overflow: scroll !important;
    margin-left: 40px !important;
    margin-top: -20px !important;
    background-color: rgba(27,22,28,0.95) !important;
    display: inherit !important;
  }

  .pubadvertdetails
  {
    border: solid 1px #7b3d3c;
    border-radius: 1%;
    padding: 12px;
    padding-left: 108px;
  }

  .gray-round-border
  {
     border: solid 1px gray;
     border-radius: 2%;
     margin:5px; 
  }



/*===RESPONSIVE */

@media (min-width: 1199px)
{
   .pubadvertdetails
  {
    border: solid 1px #7b3d3c;
    border-radius: 1%;
    padding: 12px;
    padding-left: 110px
  }
}

@media screen and (min-width:290px) and (max-width:991px )
{
  .regadj {
  padding-top: 7% !important;
    }
}

@media screen and (min-width:768px) and (max-width:993px )
{
  .advertpicture 
  {
    margin-top: 9px;
  }
  .websitesselection
  {
    height: 190px;
    width: 207px;
    overflow: scroll !important;
    margin-left: 40px !important;
    margin-top: -20px !important;
    background-color: rgba(27,22,28,0.95) !important;
  }
}



@media (min-width:768px )
{

  #section_feature .card
  {
    width: 93%;
    text-align: center !important;
  }
  .p_adjust
  {
    margin-left: -15px;
  }
  .dashboard-home
  {
    margin-top: 7%;
  }
  .content
  {
    margin-left: 170px;
  }
  .notify_count {
    color: red;
    font-weight: bold;
    margin-top: -36px;
    float: right;
    position: absolute;
}
  #Currency
  {
    float: right;
    width: 20% !important;
    border-radius: 4px;
  }
 
 .intl-tel-input .country-list
{
    max-width: 256px;
    overflow-x: hidden;
}
  
  .desktopprofile-nav
  {

    display: block;
  }

   .hidden-sm-up
  {
    display:none !important ;
  }


  .regadj 
  {
    margin-top: -126px !important;

  }

  .advertiserprofile-user-img {
  
    width: 200px;
    height: 160px;
  
  }

  .publisherprofile-user-img 
  {
    width: 130px;
    height: 130px;
    margin-top: 5px;
  }

  .mobileprofile
  {
    display: none;
    width: 352px;
  }
      
  .overlapseicon
  {
    position: relative;
    z-index: 7;
    top: 99px;
    left: 99px;
    height:30px;
    cursor: pointer;
  }

  .box
  {
    width:200px;
  }


}

@media (width: 768px)
{
  .regadj 
  {
    margin-top: 0px !important;
  }
}

@media (max-width: 768px)
{

  .nav-btn a
  {
    margin-left: -15px !important;
  }

  #section_feature .card
  {
    width: 87%;
    text-align: center !important;
  }

  #publisher_list .nav-tabs li {
    
    width: 100% !important;
  }

   #publisher_list .nav-tabs li a{
    
    text-align: center !important;
  }

.welcome-guide {
    margin-top: -44px;
  }

  .completereg
  {
    margin-top: -10px;
  }

  .reg_container
  {
     padding: 30px;
  }

  .nav-btn
  {
    background-color: #27262f !important;
    border-radius: 0 !important;
  }

    
  .content
  {
      margin-left: -15px;
      margin-top: 70px;
  }



  .publisherprofile-user-img {
  
    width: 90px !important;
    height: 90px !important;  
   }
  .account-block {
    position: absolute;
    z-index: 100;
    right: 5px;
    top: 180px;
    width: 170px;
  }

  .account-block input
  {
      height: 25px !important;
  }

  .account-block button
  {
    text-transform: capitalize !important;
  }
  .pubadvertdetails
  {
   
    padding-left: 38px;
  }
  .homeslidertextleft
  {
    margin-left: 75px !important;
  }


  .cart-content
  {
    left: 0;
  }

  .logo-responsive
  {
    margin-left: 180px;
  }

 
  .menu-mobile-pub {
    /*background-color: #575757 !important;*/
    top: 72px !important;
    width: 50% !important;
    right: 0;
    display: block !important;
}

  .hidden-sm-down
  {
    display:none ;
  }

  .hastle-free
  {
  margin-top: -90px;
  margin-right: 40px;
  }

  footer .col-sm-4 {
    margin-bottom: 10px !important;
    float: left !important;
}


.tp-banner-container{ width:100%; position:relative; padding:0; z-index: 0; height: 300px !important}

  .helperbtn
  {
  height: 26px;
  line-height: 24px;
  border-color: #e5e5e5 !important;
  background-color: #e5e5e5
  }

  .homeslidertextright
  {
    margin-right: 75px !important; 
  }

  .modal-content 
  {
    background-color: rgba(0, 0, 0, 0) !important;
  }

  .mobileprofilenav
  {
    display: ;
    width: 170px
  }

  .desktopprofilenav
  {
    display: none;
  }

 .center-adjust
  {
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important
  }

  .extradetails
  {
    display:none;
  }

  .hometextpad{
      margin-bottom: 50px;
      margin-top: 50px;
  }

  .bg-center
  {
    background-position:center !important;
  }

  .profilenav-adjust
  {
    width:170px;
  }

   .websitesselection
  {
    height: 190px !important;
    width: 207px;
    overflow: scroll !important;
    margin-left: 42px !important;
    margin-top: auto;
    position: absolute !important;
    background-color: rgba(27,22,28,0.95) !important;
  }
}

@media(max-width: 600px)
{
  .tablesearch
  {
    width: 90px !important;
  }
  .advertpicture {
    width: 120px;
    height: 120px;
    margin-top: 8px;
  }

 /* .bg-reg
  {
    background-image:url('/uploads/images/homeslider/lupita.jpg') !important;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
  }*/
}



@media (max-width: 584px)
{
  .width-adjust 
  {
    width: 50% !important;
  }
  .logo-responsive
  {
    margin-left: 90px;
  }

}

@media (max-width: 450px)
{
  .regmargin
    {
      /*margin-top: 22% !important;*/
      float: right !important;
      margin-right: 20% !important;
    }
}

@media(max-width: 418px)
{
  .no-pad
  {
    padding:0 !important;

  }
  .logo-responsive
  {
    margin-left: 46px;
  }

}

@media (max-width: 360px)
{
  .regmargin
  {
    margin-top: 28% !important;
    float: right !important;
    margin-right: 5% !important;
  }
  .logo-responsive
  {
    margin-left: 35px;
  }

}

@media (max-width: 300px)
{
  .regmargin
  {
    margin-top: 32% !important;
    float: right !important;
    margin-right: 0% !important;
  }


}

@media(max-width: 393px)
{
  .mobileupload-button
  {
    margin-top: -4px;
    margin-left: 26px;
  }

  .or-adjust
  {
    margin-left:67px;
    margin-bottom: 10px;
  }
}

@media (max-width: 991px)
{
  .navbar-default .navbar-toggle
  {
    background-color: transparent !important;
    border: solid 2px;
  }

  .sticky-nav .navbar-nav > li > a i
  {
    margin-right: 30px !important;
  }
  .navbar .text-right
  {
    background-color: #27262f !important;
  }

  .navbar-default .navbar-nav > li > a
  {
    color: white !important;
  }
}

/*--full slider--*/

.carousel, .item, .active { height: 100%; }
.carousel-inner { height: 100%; }
.carousel-small { height:70%}
.fill { width: 100%; height: 100%; background-position: center; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover; position: absolute; }


